#prime-main-contents {
  position: relative;
  top: 100px;
}

.fas {
  width: 0;
}

/* main text 및 img */
.guide-text {
  display: none;
}

.prime-detail-page {
  display: block;
  margin: 0 auto;
  max-width: 1400px;
  min-width: 1000px;
  font-family: Tahoma, Arial, sans-serif;
}

.prime-hero-header {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Header_01._CB513133335_.png);
  background-position: left top;
  background-repeat: no-repeat;
  height: 476px;
  color: #fff;
  padding: 32px 0 48px 0;
}

.header {
  width: 500px;
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 4px;
  margin-bottom: 22px;
}

.subheader {
  font-size: 1.375rem;
  margin-bottom: 32px;
  width: 400px;
  line-height: 25px;
  font-weight: 300;
  font-family: Tahoma, Arial, sans-serif;
}

.prime-hero-content {
  position: absolute;
  width: 500px;
  margin: 0 70px;
}

.prime-link {
  box-sizing: border-box;
  margin-bottom: 10px;
}

.prime-a-button-outer {
  display: inline-block;
  min-width: 360px;
  min-height: 54px;
  border-radius: 3px;
  border: 1px solid #ff6138;
  background-color: #ffa724;
  cursor: pointer;
  padding: 0;

}

.a-button-input {
  border: 1px 6px;
  background-color: transparent;
  color: #285343;
  border: 0;
  cursor: pointer;
  height: 54px;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 550;
}

.prime-plan-button {
  margin-bottom: 32px;
}

.prime-plan-text {
  font-size: 0.875rem;
  font-family: Arial, sans-serif;
}

.prime-logo-img {
  width: 80px;
  margin-bottom: 32px;
}

/* Card 카테고리 */
.prime-carousel-container {
  min-width: 1400px;
  position: relative;
  display: block;
  width: 100%;
  top: -92px;
  margin-bottom: -92px;
  left: 0;
}

.prime-benefit-cards {
  display: block;
  margin: 0 auto;
  width: 774px;
  height: 262px;
  font: inherit;
}

.card-catagory-click {
  position: absolute;
  width: 202px;
  height: 262px;
  margin: 0 -20px 0 -26px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.card-catagory-noneclick {
  width: 150px;
  height: 210px;
  margin: 26px 6px 26px 0;
  background-size: 100%;
  background-position: center;
  overflow: hidden;
  position: relative;
  display: inline-block;
  top: 0;
  left: 150px;
}

.card-clickable {
  bottom: 26px;
  width: 202px;
  height: 210px;
  cursor: pointer;
}

.card-none-clickable {
  width: 150px;
  height: 210px;
  cursor: pointer;
}

/* card-common-css: title, button, card-content */
.card-title {
  width: 100%;
  color: #FFF;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 200;
  font-family: inherit;
  bottom: 24px;
}

.card-content {
  position: absolute;
  display: inline-block;
  width: 130px;
  bottom: 14px;
  margin: 10px 30px 0 30px;
  color: #FFF;
  background-color: transparent;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
}

.content-button {
  width: 10px;
  height: 10px;
  margin: 0px 8px;
  cursor: pointer;
}

.carousel-button {
  display: inline;
  color: #eaeaea;
  font-size: 0.625rem;
}

.click-button {
  color: #fff;
}


/* ship card */
.ship-card {
  background-image: linear-gradient(30deg, #2C88AE 40%, #00A8E1 85%, #00A8E1 74px);
}

.ship-card-img {
  height: 190px;
  background-size: 190px;
  background-repeat: no-repeat;
  background-image: url(../image/prime-card-ship.png);
  background-position: center;
}

/* stream card */
.stream-card {
  background-image: linear-gradient(30deg, #CC0C39 40%, #FF6138 85%, #FF6138 74px);
}

.stream-card-img {
  height: 165px;
  background-size: 150px;
  background-repeat: no-repeat;
  background-image: url(../image/prime-card-stream.png);
  background-position: center;
}

/* shop-card */
.shop-card {
  background-image: linear-gradient(30deg, #A90067 40%, #E31F64 90%, #E31F64 48px);
}

.shop-card-img {
  height: 165px;
  background-size: 190px;
  background-repeat: no-repeat;
  background-image: url(../image/prime-card-shop.png);
  background-position: center;
}

/* read-card */
.read-card {
  background-image: linear-gradient(30deg, #008577 40%, #36C2B4 90%, #36C2B4 48px);
}

.read-card-img {
  height: 165px;
  background-size: 190px;
  background-repeat: no-repeat;
  background-image: url(../image/prime-card-read.png);
  background-position: center;
}

/* more card */
.more-card {
  background-image: linear-gradient(30deg, #FF6138 40%, #FFC400 90%, #FFC400 48px);
}

.more-card-img {
  height: 165px;
  background-size: 190px;
  background-repeat: no-repeat;
  background-image: url(../image/prime-card-more.png);
  background-position: center;
}

/* prime-carousel-benefit */
.prime-carousel-benefit {
  display: inline-block;
  font: inherit;
  width: 90%;
  height: 400px;
  overflow: visible;
  margin: 0 90px;
}

.a-carousel-card {
  display: inline-block;
  height: 100%;
}

.a-carousel-viewpoint {
  height: 400px;
  margin: 0 72px;
  overflow: visible;
  float: left;
}

.a-carousel-button {
  width: 70px;
  height: 100%;
}

.carousel-button-left {
  padding-left: 3px;
  float: left;
}

.button-icon {
  padding-top: 150px;
  font-size: 3.125rem;
  color: gray;
}

.carousel-button-right {
  padding-right: 3px;
  float: right;
}

.slide-prime-onedaytwoday {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Card_A01._CB514650866_.jpg);
  background-size: auto 400px;
  background-repeat: no-repeat;
  background-position-x: -180px;
  height: 400px;
  padding-top: 30px;
  visibility: visible;
}

.card-copy {
  position: relative;
  width: 480px;
  left: 100%;
}

.card-header {
  background-color: #00A8E1;
  margin: 0px 0 20px;
  width: 170px;
}

.carousel-card-category-text {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 0.9375rem;
  line-height: 30px;
  font-family: inherit;
}

.card-headline {
  font-family: inherit;
  font-size: 1.75rem;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 20px;
}

.card-body {
  color: #6b6b6b;
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: lighter;
  margin-bottom: 20px;
  font-family: Arial, Tahoma, sans-serif;
}

.card-cta>* {
  font-family: Arial, sans-serif;
  font-size: 1.125rem;
  color: #002F36;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}


/* prime-benefits layer */
.prime-benefits-container {
  display: block;
  height: 1000px;
}

.prime-benefits-leadin {
  color: #002F36;
  text-align: left;
  font-size: 1.75rem;
  margin: 30px 70px 15px;
}

.prime-static-benefits {
  background-size: auto 360px;
  background-position: top center;
  height: 360px;
  background-repeat: no-repeat;
}

.prime-benefit {
  display: block;
  width: 100%;
  margin: 15px 0 30px 0;
  padding: 0 70px 48px 70px;
}

.benefits-white-text {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/StaticBlade_PrimeDelivery_01._CB513143338_.png);
  color: #fff;
  padding-top: 45px;
  margin-bottom: 45px;
}

.static-card-headline {
  font-size: 3rem;
  margin-bottom: 20px;
  width: 500px;
  line-height: 55px;
  padding: 0;
}

.static-card-body {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 20px;
  width: 420px;
}


/* plan-comparison-cta & button */
.plan-comparison-cta {
  position: relative;
  right: 1px;
  height: 40px;
  width: 320px;
}

.static-card-cta a {
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
}