/* ----- GLOBAL -----*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: Arial, sans-serif;
}

.left {
  float: left;
}

.right {
  float: right;
}

.middle {
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

main {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

.left-arrow {
  display: inline-block;
  border: 5px solid transparent;
  border-left-color: #002f36;
}
