/* ----- HEADER -----*/
/* ----- NAV TOP -----*/
nav {
  background-color: #232f3e;
  min-width: 1000px;
  font-size: 13px;
}

.nav-top div {
  position: relative;
  display: inline-block;
  padding: 12px 0 0 0;
}

.nav-top div:first-child {
  padding: 12px 0 0 26px;
}

.nav-logo-box {
  width: 191px;
}

.nav-logo {
  display: inline-block;
  width: 100px;
  height: 34px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-V3-1x_optimized._CB483188077_.png);
  background-position: -9px -49px;
}

.nav-logo-prime {
  font-size: 11px;
  font-weight: 700;
  position: absolute;
  top: 31px;
  left: 93px;
  text-transform: capitalize;
  color: #48a3c6;
}

.nav-search-form span {
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 0px;
  width: 46px;
  line-height: 34px;
  color: #666;
  background-color: #f3f3f3;
  text-align: center;
  font-size: 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.drop-down-lists {
  position: absolute;
  height: 34px;
  border: 0;
  border-radius: 5px 0 0 5px;
  outline: none;
  opacity: 0;
}

.nav-promotion a {
  display: inline-block;
  width: 400px;
  height: 39px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/img18/events/12dod/12DOD_DesktopSWM_400x39_Shop12._CB479370442_.jpg);
  background-repeat: no-repeat;
}

/* ----- NAV LOWER -----*/

.nav-location {
  display: inline-block;
}

.nav-box,
.nav-box div {
  display: inline-block;
}

.nav-box {
  margin-top: 5px;
  margin-left: 12px;
}

.nav-box:hover {
  border: 1px solid #666;
  border-radius: 3px;
}

.nav-box .location-img {
  width: 22px;
  height: 25px;
  margin-left: 2px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-V3-1x_optimized._CB483188077_.png);
  background-position: -68px 77px;
}

.nav-box .nav-text span {
  display: block;
  color: #fff;
}

.nav-box .nav-text .text1 {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 400;
}

.nav-box .nav-text .text2 {
  font-size: 14px;
  font-weight: 700;
  padding-right: 12px;
  padding-bottom: 5px;
}
