header {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  font-family: Arial, sans-serif;
}

.top-head-link {}

.fa-caret-down {
  cursor: pointer;
}

.nav-main {
  background-color: #232f3e;
  position: absolute;
  display: block;
  width: 100%;
  height: 100px;
  top: 55px;
}

.guide-text {
  display: none;
}

.top-head-link {
  display: block;
  width: 100%;
  height: 55px;
  background-position: top left;
  background-repeat: no-repeat;
  min-width: 1400px;
}

.top-head-img {
  width: 1905px;
}

/* header 상단 */
.nav-top {
  position: relative;
  min-width: 1400px;
  width: 100%;
  height: 47px;
}

/* header icon */
.nav-amazon-icon {
  display: inline-block;
  width: 10%;
  height: 100%;
  text-align: center;
  padding: 13px 18px 0px 27px;
  border-top: 5px;
}

.amazon-icon-img {
  position: absolute;
  top: 12px;
  left: 20px;
}

.nav-prime-link {
  position: absolute;
  font-size: 1rem;
  top: 34px;
  left: 93px;
  color: #48a3c6;
}

/* 상단 검색창 */
.nav-search {
  min-width: 70%;
  position: absolute;
  display: block;
  width: 70%;
  height: 46px;
  left: 200px;
  top: 0;
  margin-top: 0;
  padding-top: 11px;
  padding-right: 25px;
  white-space: nowrap;
}

/* 상단 검색창 dropdown menu */
.select-dropdown-menu {
  height: 100%;
  border-radius: 5px 0 0 5px;
  min-width: 39px;
  width: 35px;
  border: 0;
  border-right: 1px solid #707070;
  height: 35px;
  float: left;
}

/* 상단 검색창 입력 영역 */
.input-search-field {
  display: inline-block;
  position: absolute;
  min-width: 360px;
  padding: 0 12px 0 12px;
  width: 90%;
  top: 11px;
  left: 39px;
  border: 0;
  height: 35px;
}

.nav-submit-button {
  position: absolute;
  display: inline-block;
  background-color: #febd69;
  background-image: none;
  border: none;
  width: 45px;
  text-decoration: none;
  border-radius: 0 4px 4px 0;
  font-family: arial, sans-serif;
  overflow: hidden;
  margin: 0;
  line-height: 44px;
  height: 35px;
  right: 50px;
}

.nav-search-submit {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: 0;
  color: #fff;
  background: 0 0;
  border: none;
  text-indent: -1000px;
  line-height: 1px;
  top: 0;
  left: 0;
}

.fa-search {
  position: absolute;
  font-size: 1.7rem;
  top: 5px;
  left: 10px;
}

/* 상단 우측 이미지 */
.nav-link-shop {
  min-width: 350px;
  width: 100%;
  height: 39px;
  overflow: hidden;
}

.link-shop-img {
  position: absolute;
  right: 0;
  top: 8px;
}

.link-shop {
  display: block;
  height: 100%;
}

.nav-bottom {
  min-width: 1400px;
  width: 100%;
  height: 53px;
  position: relative;
}

/* 하단 좌측 */
.nav-left {
  position: relative;
  float: left;
  height: 55px;
  width: 192px;
}

.nav-location-title {
  display: inline-block;
  color: #fff;
  margin: 5px 0 4px 35px;
}

.fa-map-marker-alt {
  position: absolute;
  display: inline-block;
  font-size: 1.3rem;
  clear: both;
  left: 13px;
  top: 23px;
}

.nav-location-title-line_1 {
  display: inline-block;
  font-size: 0.8rem;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
  margin-top: 9px;
  clear: both;
  color: inherit;
  padding-right: 11px;
  white-space: nowrap;
  font-family: Arial, sans-serif;
}

.nav-location-title-line_2 {
  display: inline-block;
  font-size: 0.9rem;
  line-height: 15px;
  font-weight: 700;
  padding-bottom: 4px;
  white-space: nowrap;
  clear: both;
  font-family: Arial, sans-serif;
  padding-right: 11px;
}

/* 하단 중앙 */
.nav-shop-container {
  display: inline-block;
  width: auto;
  height: 55px;
  color: #ffffff;
  text-decoration: none;
  font-family: Arial, sans-serif;
  line-height: 1em;
}

.nav-shop {
  margin-top: 20px;
  width: 135px;
  height: 35px;
  float: left;
}


.fa-caret-down {
  color: #a7acb2;
  font-size: 0.875rem;
}

.nav-container {
  width: 585px;
  margin: 28px 0 0;
  height: 28px;
  float: left;
}

.nav-container>a {
  color: #ccc;
  text-decoration: none;
  padding: 0 9px;
  margin-bottom: 25px;
  font-family: Arial, sans-serif;
  font-size: 0.8125rem;
  cursor: pointer;
}

/* -------------------------------- 
departments Layer 
-------------------------------- */
.departments-title-layer {
  text-decoration: none;
  padding: 8px 0 0 20px;
  width: 100%;
  height: 100%;
  clear: both;
  cursor: pointer;
}

.departments-title {
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  line-height: 15px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

/* --------------------------------
background dimmed
-------------------------------- */
.nav-dimmed-cover-on {
  position: absolute;
  opacity: 0.6;
  top: 0;
  z-index: 3;
  background-color: #000;
  background-size: cover;
  width: 100%;
  height: 0;
  transition: all 0.3s;
  height: 100%;
}

.nav-dimmed-cover-off {
  opacity: 0;
}


/* 하단 우측 */
.nav-bottom-right {
  width: auto;
  height: 53px;
  padding: 0 20px 3px 0;
  float: right;
}

.bottom-right-a {
  font-family: Arial, sans-serif;
  padding: 20px 0 0 32px;
  color: #fff;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1em;
  float: right;
}

.bottom-right-font-lg {
  display: inline-block;
  color: #fff;
  font-size: 0.9375rem;
  line-height: 15px;
  font-weight: 700;
  padding-bottom: 4px;
  white-space: nowrap;
  font-family: Arial, sans-serif;
}

.bottom-right-font-sm {
  display: inline-block;
  color: #ccc;
  font-size: 0.75rem;
  line-height: 1em;
  white-space: nowrap;
  font-family: Arial, sans-serif;
}

.nav-link-language {
  margin-bottom: 2px;
}

.nav-link-border {
  position: relative;
  border-right: 1px solid #555;
  margin-bottom: 5px;
  width: 1px;
  height: 30px;
  left: 37px;
  top: -27px;
}

.nav-single-row-link {
  height: 26px;
  margin-top: 12px;
}

.nav-link-icon {
  padding-right: 2px;
}