.hidden-plans {
  position: fixed;
  display: none;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #232f3e;
  z-index: 9;
  min-width: 1920px;
  transition: all 500ms ease-out 0s;
}

/* hidden-outer-contents */
/* Background Hidden-outer-contents Layer area */
.plans-nav-header {
  position: absolute;
  width: 100%;
  padding: 0 10px;
  height: 70px;
  top: 0;
  color: #fff;
  min-width: 1920px;
}

/* Left: Prime-Icon */
.sticky-nav-prime {
  position: absolute;
  display: inline-block;
  width: 15%;
  height: 70px;
}

.sticky-nav-prime-logo {
  background-size: 90px;
  vertical-align: middle;
  padding: 10px;
  padding-right: 40px;
  max-width: 280px;
  display: inline-block;
  position: absolute;
  width: 320px;
  height: 70px;
}

/* Middle: Expand Membership Card  */
.expand-membership-layer {
  position: absolute;
  display: inline-block;
  width: 70%;
  height: 70px;
  left: 15%;
}

.expand-membership-card {
  position: absolute;
  width: 140px;
  height: 40px;
  vertical-align: bottom;
  font-size: 14pt;
  font-weight: lighter;
  text-align: center;
  cursor: pointer;
  margin: 25px 604px 0 604px;
}

.expand-text {
  position: relative;
  top: 4px;
}

.expand-plan-icon {
  position: relative;
  top: 6px;
  width: 30px;
}

/* Right: Membership Plan Button */
.membership-plan-button {
  position: absolute;
  width: 15%;
  height: 70px;
  right: 0;
}

.plan-button {
  position: absolute;
  border: 1px solid #ff6138;
  border-radius: 3px;
  background: #ffa724;
  height: 46px;
  width: 135px;
  text-align: center;
  margin: 12px 278px 12px 10px;
}

.tryPrime-button {
  position: absolute;
  background-color: transparent;
  color: transparent;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.tryprime-button-text {
  line-height: 45px;
  cursor: pointer;
  border-radius: 2px;
  white-space: normal;
  font-weight: bold;
  color: #284d40;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

/* hidden-inner-contents */
/* background Hidden-inner-contents */
.hidden-inner-contents {
  position: relative;
  z-index: 0;
  top: 0;
  width: 100%;
  min-width: 1920px;
  height: 0;
  background-color: #eee;
  transition: all 0.5s;
  overflow: hidden;
}

.plan-comparison-card {
  padding: 0 250px;
  width: 100%;
  height: 100%;
  background: white;
  border-bottom: 2px solid #00a8e1;
}

/* hidden-inner-contents Header */
.comparison-card-header {
  padding: 0 215px;
  height: 160px;
}

.comparison-card-header-title {
  position: absolute;
  top: 75px;
  left: 700px;
  align-self: center;
  font-weight: 100;
  font-size: 20px;
  max-width: 440px;
}

.prime-logo {
  position: absolute;
  padding: 49.5px 0;
}

.plan-img {
  position: absolute;
  top: 0;
  right: 0;
  right: 470px;
}

.close-button {
  position: relative;
  text-align: center;
  width: 82px;
  height: 46px;
  top: 15px;
  float: right;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  color: #002f36;
  text-decoration: none;
}

/* hidden-inner-contents Container */
.comparison-card-container {
  margin: 0 215px;
  height: 470px;
}

.radio-container {
  position: absolute;
  display: inline-block;
  top: 165px;
  width: 282px;
  height: 360px;
}

.best-container-contents {
  height: 360px;
}

/* hidden-inner-contents Container: plan-card */
/* comparison-card common */
.plan-card {
  display: inline-block;
  width: 282px;
  height: 360px;
  background: #fff;
  border: 1px solid #000;
}

.plan-card-header {
  font-weight: 300;
  font-size: 20pt;
  line-height: 10px;
}

.plan-card-bg {
  padding: 30px 30px 0 30px;
  height: 100%;
  z-index: 2;
  position: relative;
  pointer-events: none;
}

.radio-button {
  position: relative;
  top: 30px;
  right: 20px;
  float: right;
  z-index: 12;
  display: none;
}

.plan-card-price {
  font-weight: 300;
  font-size: 20pt;
  margin-top: 12px;
  height: 20px;
}

.plan-card-price-amount {
  font-weight: 800;
}

.sup-text {
  vertical-align: super;
  font-size: 15px;
  font-weight: 800;
}

.benefit-list {
  margin-top: 55px;
  margin-left: 22px;
  font-weight: 200;
  font-size: 12pt;
  padding-left: 30px;
}

.benefit {
  padding-bottom: 10px;
  line-height: 18px;
  height: 35px;
  text-indent: -25px;
}

/* left comparison-card */
.card-video {
  position: absolute;
  left: 468px;
}

/* middle comparison-card */
.card-monthly {
  position: absolute;
  left: 810px;
}

/* right comparison-card */
/* right-card img */
.card-best {
  position: absolute;
  right: 480px;
}

.plan-card-savings-ribbon {
  position: relative;
  float: left;
  margin-left: -40px;
  margin-top: -8px;
  height: 36px;
  width: 184px;
}

#plan-card-savings-text {
  width: 177px;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  position: absolute;
  margin-top: -22px;
  margin-left: 7px;
  color: white;
  text-transform: uppercase;
}

/* right comparison-card */
/* comparison-card-cta: button*/
.comparison-card-cta {
  position: relative;
  width: 365px;
  height: 100px;
  right: 30px;
  top: 15px;
}

.hidden-button-inner {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #ff6138;
  background: #ffa724;
  height: 46px;
  width: 320px;
  min-width: 320px;
  text-align: center;
  top: 10px;
  margin: 0 10px;
}

.hidden-button-input {
  position: absolute;
  background-color: transparent;
  color: transparent;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: visible;
}

.hidden-button-text {
  white-space: normal;
  line-height: 44px;
  font-weight: 700;
  color: #284d40;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 25px 0 25px;
}

/* right comparison-card */
/* comparison-card-cta: bottom text */
.after-button-redirects {
  position: relative;
  top: 23px;
  left: -10px;
}

.after-button-text {
  text-decoration: none;
  font-size: 13px;
  line-height: 19px;
  color: #0066c0;
}

/* hiddin-contents close-button */
.comparison-close-button {
  position: relative;
  display: block;
  height: 10px;
  font-size: 20px;
  top: 470px;
  text-align: center;
  cursor: pointer;
}

/* radio button */
.plan-card-radio-button {
  display: block;
  position: relative;
  pointer-events: none;
  background-color: white;
  border: 2px solid #aaaaaa;
  border-radius: 100%;
  height: 25px;
  width: 23px;
  top: -335px;
  left: 241px;
  z-index: 5;
}

/* translation */
/* hidden-contents-plan display*/
.trans-display-block {
  display: block;
}

.trans-display-none {
  display: none;
}

.trans-show-outerContents {
  height: 70px;
  overflow: visible;
}

.trans-hidden-outerContents {
  height: 0px;
  overflow: hidden;
}

/* translation */
/* hidden-contents-plan click*/
.trans-show-inner-content {
  height: 650px;
  z-index: 11;
}