/* departments Layer */
.nav-departments-list{
  opacity: 0;
}

.nav-department > ul > li {
  list-style-type: none;
  position: relative;
  display: inline-block;
}

.departments-layer-list{
  position: absolute;
  display: none;
  top: 48px;
  left: 192px;
  border-radius: 4px;
  background-color: #fff;
  width: 200px;
  height: 408px;
  border: 1px solid #bbb;
  padding: 18px 0 8px 14px;
  z-index: 9;
}

.sub-layer{
  display: inline-block;
  position: absolute;
  list-style-type: none;
}

.nav-departments-list li:hover .sub-layer{
  opacity: 1;
}

.sub-layer .nav-link:hover .nav-text{
  color: #e47911;
}

.sub-layer .nav-link:hover .side-arrow{
  color: #bbb;
}

.nav-link{
  position: absolute;
  left: 0;
  text-decoration: none;
  width: 100%;
  padding-right: 8px;
}

.list-layer{
  width: 170px;
  height: 16px;
  margin: 0 3px 5px;
  text-decoration: none;
}

.nav-text{
  color:#444;
  font-size: 13px;
  width: 170px;
  font-family: Tahoma, Arial, sans-serif;
}

.triangle-arrow{
  position: absolute;
  top: -19px;
  left: 98px;
  height: 0;
  width: 0;
  border: 10px solid;

  border-bottom-color: #fff; 
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}

.side-arrow{
  float: right;
  color: #eee;
}

/* background dimmed */
#nav-dimmed-cover{
  position: absolute;
  display: none;
  top: 155px;
  z-index: 3;
  background-color: #000;
  background-size: cover;
  opacity: 0.6;
  width:  5000px;
  height: 5000px;
}

