@main-color: rgb(35,48,62);
@main-bright-text-color: white;
@brand-point-color: #f08804;
@header__top-row__brand-logo-slot--width: 13%;
@header__top-row__search--width: 99% - @header__top-row__brand-logo-slot--width - @header__top-row__learn-more-img--width;
@header__top-row__learn-more-img--width: 33%;
@header__quick-links--width: 65%;
@header__user-section--width: 99% - @header__quick-links--width;
@z-index-for-bg-imgs: -999;
@padding-left-for-banner-contents: 5em;

/*Base initializers*/
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,div,
textarea,button,select{
    margin:0;
    padding:0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

sup {
    font-size: 0.6em;
}

ul,ol {list-style:none}
em,address {font-style:normal}
a {color:inherit; text-decoration-line: none}


/*=============
  Global rules  
===============*/ 
.global-deco-Text-Bold {
    font-weight: 800;
    font-size: 1.1em;
}


/*=============
  Header rules  
===============*/ 
.deco-Header-Text-Orange{
    .global-deco-Text-Bold;
    color: @brand-point-color;
}

.header {
    background-color: @main-color;
    color: @main-bright-text-color;
    overflow: auto;
    font-size: 0.9em;
    & > * {margin-bottom: 0.5em}
    & > * > * {
        display: inline-block;
        box-sizing: border-box
    }
    .header__department-list{.global-deco-Text-Bold;}
}

.header__brand-and-search {
    .brand-logo-slot {
        position: relative;
        padding-top: 0.7em;
        padding-bottom: 0;
        padding-left: 1.5em;
        padding-right: 1.5em;
        width: @header__top-row__brand-logo-slot--width;
    }
    .search {
        padding: 0 0.5em;
        width: @header__top-row__search--width;
        height: 2em;
        vertical-align: middle;
        overflow: auto;
        .search__category-selector {
            width: 10%;
            float: left;
        }
        .search__input-bar {
            width: 79%;
        }
        .search__submit-btn {
            width: 10%;
            float: right;
        }
    }
    .learn-more-img {
        padding-top: 0.7em;
        float: right;
        width: @header__top-row__learn-more-img--width;
    }
}

.header__quick-links {
    float: left;
    box-sizing: border-box;
    width: @header__quick-links--width;
    padding-left: 1em;
    .delivery-location > * {
        display: inline-block;
        height: 90%;
        vertical-align: middle;
        margin-right: 0.2em;
    }
    .delivery-location__country{.global-deco-Text-Bold;}
    .department-list{.global-deco-Text-Bold;}
    & > :nth-child(1), & > :nth-child(2) {margin-right: 2em;}
    & > * {
        margin: 0 0.5em;
        vertical-align: bottom;
    }
}

.header__user-section {
    float: right;
    box-sizing: border-box;
    width: @header__user-section--width;
    padding-right: 2em;
    & > * {margin: 0 0.5em;}
    .account-menu,
    .orders-menu-link,
    .cart-text-link,{
        .global-deco-Text-Bold;
    }
}

.cart{
    position: relative;
    margin-left: 3em;
    width: 5em;
    padding-left: 0.2em;
    .rule-cart-display{
        position: absolute;
        margin-right: 0.2em;
    }
    .cart__num-of-item {
        .rule-cart-display;
        .deco-Header-Text-Orange;
        bottom: 1.1em;
        left: -1.1em;
    }
    .cart__img{
        .rule-cart-display;
        right: 4em;
        bottom: -0.2em;
    }
}

/*=============
  Masthead_banner  
===============*/

.masthead_banner{
    position: relative;
    width: 1280px;
    margin: 0 auto;
    .campaign-msg{
        color: white;
        position: absolute;
        margin: 0 0 5em @padding-left-for-banner-contents;
        h1 {font-size: 2.7em;}
        & > span{font-size: 1.5em;}
        & > * {
            display: block;
            margin-top: 1em;
        }
    }
    .campaign-msg__CTA{
        & > *, & > * > * {
            display: block;
        }
        & > * {
            font-size: 1em;
            margin-top: 0.5em;
        }
        .try-prime-btn{
            background-color: @brand-point-color;
            min-width: 25em;
            min-height: 4em;
        }
    }
    .bg-img > *{
        width: 100%;
        min-width: 1280px;
        min-height: 450px;
        z-index: @z-index-for-bg-imgs;
    }
    .prime-logo{
        position: absolute;
        left: @padding-left-for-banner-contents;
        bottom: 4em;
    }
}