/*=============
  Global rules  
===============*/ 
:root {
    /* fonts */
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    --boldest: 800;
    /* colors */
    --color-bright-orange: #f08804;
    --color-gray-blue: rgb(35,48,62);
    --color-gray-blue--lighten: rgb(10, 60, 70);
    --color-gray-blue--darken: rgb(0, 20, 70);
    /* etc */
    --bg-img-z-index: -999;
    /* section-specific : Header */
    --header__logo--width: 8.5rem;
    --header__topBanner--width: 29rem;
}

.global-deco-major-btn{
    border: 1px solid orangered;
    background-color: var(--color-bright-orange);
    min-width: 20rem;
    min-height: 3rem;
    font-size: 1.1rem;
    font-weight: var(--boldest);
    color: var(--color-gray-blue--lighten);
}

/*Base initializers*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {font-size: 0.875rem;} /* 14px */
ul,ol {list-style:none}
em,address {font-style:normal}
sup {font-size: 0.5rem;} /* 8px */
a {color:inherit; text-decoration-line: none;}




/*=============
  Header rules  
===============*/

.header {
    background-color: var(--color-gray-blue);
    color: white;
    overflow: auto;
    font-size: 0.9rem;
    padding-top: 1rem;
    /*  space between horizontal lines */
    & > * {margin-bottom: 0.5rem} 
    /*  give 'inline-block' display style to items in each line  */
    & > * > * { 
        display: inline-block;
        box-sizing: border-box
    }
    .header__brand-and-search { 
        .brand-logo-slot {
            padding: 0 1.5rem;
            width: var(--header__logo--width);
        }
        .search {
            padding: 0 0.5rem;
            height: 3rem;
            vertical-align: top;
            width: calc(99% - var(--header__logo--width) - var(--header__topBanner--width)); /* Take all width except for logo & banner*/
            form{
                height: 100%;
                & > * {
                    margin: 0 -4px;
                    border: none;
                    height: 100%;
                    vertical-align: top;
                    display:inline-block;
                }
                .search__category-selector{
                    width: 19%;
                    font-size: 1rem;
                    position: relative; 
                    z-index: 1; /*  place category selector over input bar */
                    background-color: #dcdcdc;
                }
                .search__input-bar {
                    width: 73%;
                    padding-left: 20px; /*  Move text display location to right for compensating stacked margins */
                    font-size: 1.2rem;
                }
                .search__submit-btn {
                    border-radius: 0 5px 5px 0;
                    background-color: var(--color-bright-orange);
                    width: 6%;
                    font-size: 2rem;
                }
            }
        }
        .learn-more-img {
            float: right;
            width: var(--header__topBanner--width);
        }
    }
    
    .header__quick-links {
        float: left;
        width: 25rem;
        padding-left: 1rem;
        .delivery-location > * {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.2rem;
        }
        .delivery-location__country,
        .department-list{
            font-weight: var(--boldest);
            margin-right: 2rem;
        }
        & > * {
            margin: 0 0.5rem;
            vertical-align: bottom;
        }
    }
    
    .header__user-section {
        float: right;
        & > * {margin: 0 0.5rem;}
        .account-menu,
        .orders-menu-link,
        .cart-text-link,{
            font-weight: var(--boldest);
        }
        .cart{
            position: relative;
            margin-left: 3rem;
            width: 5rem;
            padding-left: 0.2rem;
            .cart__num-of-item {
                font-weight: var(--boldest);
                color: var(--color-bright-orange);
                position: absolute;
                bottom: 1.1rem;
                left: -1.1rem;
            }
            .cart__img{
                position: absolute;
                margin-right: 0.2rem;
                right: 4rem;
                bottom: -0.2rem;
            }
        }
    }
}


/*=============
  Masthead_banner  
===============*/

.masthead_banner{
    position: relative;     width: 80rem;     margin: 0 auto;
    .campaign-msg{
        color: white;
        position: absolute;
        margin: 0 0 5rem 5rem;
        h1 {font-size: 2.7rem;}
        & > span{font-size: 1.5rem;}
        & > * {
            display: block;
            margin-top: 1rem;
        }
    }
    .campaign-msg__CTA{
        input, div, div>span {
            display: block;
        }
        & > * {
            font-size: 1rem;
            margin-top: 0.5rem;
        }
        .try-prime-btn{
            .global-deco-major-btn;
        }
    }
    .prime-logo{
        position: absolute;
        left: 5rem;
        bottom: 4rem;
    }
    .bg-img > img{
        width: 100%;
        min-width: 1280px;
        min-height: 450px;
        z-index: var(--bg-img-z-index);
    }
}

/*=============
  Benefits Carousel  
===============*/
@prime-benefits-carousel__category-button--width: 13%;
@prime-benefits-carousel__category-button--height: 15rem;

.prime-benefits-carousel{
    position: relative;     width: 80rem;     margin: 0 auto;
    top: -5rem;
    .category-list{
        text-align: center; /*  put internal inline-block objects in horizontal center */
        margin-bottom: 2rem;
        & > :nth-child(1) > button{background: linear-gradient(35deg, rgb(10, 130, 210), rgb(30, 170, 180));}
        & > :nth-child(2) > button{background: linear-gradient(35deg, rgb(230, 50, 30), rgb(230, 120, 50));}
        & > :nth-child(3) > button{background: linear-gradient(35deg, rgb(104, 14, 56), rgb(226, 57, 122));}
        & > :nth-child(4) > button{background: linear-gradient(35deg, rgb(16, 92, 69), rgb(70, 200, 140));}
        & > :nth-child(5) > button{background: linear-gradient(35deg, rgb(204, 46, 7), rgb(243, 199, 53));}
        & > *{
            display: inline-block;
            vertical-align: top;
            width: @prime-benefits-carousel__category-button--width;
            margin: 0 0.1rem;
            img, span{
                display: block;
                width: 85%;
                margin: 0 auto;
                font-size: 1.5rem;
                color: white;
            } img {height: 80%;}
            button{
                border: none;
                height: @prime-benefits-carousel__category-button--height;
            }
        }
    }
    .carousel-cards{
        width: 90%;
        position: relative;
        & > :nth-child(1) { /*  only show first card on start-up */
            position: relative;
            visibility: visible;
        }
        & > * { /*  all list items */
            width: 100%;
            overflow: hidden;
            position: absolute;
            display: inline-block;
            visibility: hidden;
            & > div { /*  slot for message & link in list items */
                position: absolute;
                left: 40rem;
                padding-right: 3rem;
                @category-color__ship: rgb(10, 130, 210);
                font-size: 1.2rem;
                a{font-weight: var(--boldest);}
                & > * {
                    display:block;
                    margin: 1rem auto;
                }
                .card-keyword-div{
                    margin-bottom: 2rem;
                    span {
                        color: white;
                        font-size: 0.85rem;
                        font-weight: var(--boldest);
                        box-shadow: 0 0 0 5px @category-color__ship;
                        background-color: @category-color__ship;
                    }
                }
                em{
                    font-size: 1.7rem;
                }
            }
            img {
                z-index: var(--bg-img-z-index);
            }
        }
    }
}

/*=============
  Horizontal Banners  
===============*/
.local-CTA-link-rule{
    font-weight: var(--boldest);
    font-size: 1.2rem;
}
.local-banner-with-bg-img{
    color: white;
    .campaign-msg{
        position: absolute;
        padding: 2rem 0;
        margin-left: 5rem;
        h3 {
            font-weight: normal;
            font-size: 3rem;
            line-height: 110%;
        }
        a{.local-CTA-link-rule}
        & > span{font-size: 1.3rem;}
        & > * {
            display: block;
            margin-bottom: 0.5rem;
        }
    }
    .bg-img > *{
        width: 100%;
        min-width: 1280px;
        min-height: 320px;
        z-index: var(--bg-img-z-index);
    }
}
.local-banner-without-bg-img{
    @local-height: 360px;
    height: @local-height;
    padding: 0 10rem;
    & > * {
        display:inline-block;
        height: 100%;
        padding: (@local-height * 0.2) 0; /*  vertically align center */
    }
    .mini-carousel{
        width: 33%;
        text-align: center;
        vertical-align: top;
        position: relative;
        & > * {height: 100%;}
        .carousel__btn-slot{
            display:inline-block;
            position: relative;
            width: 10%;
            vertical-align: top;
            button{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .carousel__card-slot{
            width: 75%;
            display:inline-block;
        }
        ul{
            position: relative;
            height: 100%;
            & > *{
                visibility: hidden;
                position: absolute;
                top:50%;
                transform: translateY(-50%);
            }
            & > :first-child {
                visibility: visible;
                position: relative;
            }
            img{width: 99%;}
        } 
    }
    .campaign-msg{
        color: black;
        margin-left: 5rem;
        h3 {
            font-weight: normal;
            font-size: 3rem;
            line-height: 110%;
        }
        a{.local-CTA-link-rule}
        & > span{font-size: 1.3rem;}
        & > * {
            display: block;
            margin-bottom: 0.5rem;
        }
    }
}
.full-horizontal-banners{
    position: relative;     width: 80rem;     margin: 0 auto;
    .section-header {
        font-size: 2rem;
        font-weight: normal;
        margin-left: 5rem;
    }
    .prime-delivery-banner{
        .local-banner-with-bg-img;
        & > div:first-of-type{ /* Compensate whitespace on background img  */
            padding-top: 4rem; 
        }
    }
    .prime-reading-banner,
    .prime-video-banner{
        .local-banner-with-bg-img;
        color: black;
    }
    .prime-original-banner,
    .prime-music-banner{
        .local-banner-without-bg-img;
    }
    .try-prime-CTA{
        position: relative;
        .try-prime-CTA__message{
            text-align: center;
            position: absolute;
            right: 33%;
            left: 33%;
            top: 10%;
            & > * {
                margin-bottom: 2rem;
            }
            h2 {
                font-size: 2rem;
                font-weight: normal;
            }
            button{
                .global-deco-major-btn;
            }
            .minor-CTA-links > a{
                color: rgb(10, 120, 200);
                font-size: 0.8rem;
            }
        }
    }
}

/*=============
  Footer  
===============*/
.page-footer{
    .footer__to-top-btn{
        display: block;
        width: 100%;
        height: 4rem;
        background-color: var(--color-gray-blue);
        color: white;
        border: none;
    }
    
    .footer__section-links{
        padding: 4rem 10rem;
        background-color: var(--color-gray-blue);
        color: white;
        text-align: center;
        line-height: 2rem;
        border-bottom: 1px solid darkslategray;
        :nth-child(1){margin-left: unset;}
        & > * {
            text-align: start;
            display: inline-block;
            vertical-align: top;
            margin-left: 7vw;
            font-size: 0.9rem;
            em {font-size: 1.2rem; font-weight: var(--boldest);}
        }
    }
    
    .footer__country-info{
        height: 7vh;
        background-color: var(--color-gray-blue);
        text-align: center;
        & > * {
            padding: 2vh 0;
            vertical-align: middle;
            display: inline-block;
        }
        .brand-logo{height:30%};
        .country-selector{
            margin-left: 2rem;
            & > * {
                height: 2vh;
                min-height: 15px;
                box-sizing: content-box;
                vertical-align: middle;
                display: inline-block;
                background: none;
                border: 1px solid gray;
                border-radius: 5%;
                padding: 7px 25px;
                padding-right: 2rem;
                color: white;
                span {vertical-align: middle;}
            }
        }
    }
    
    .footer__affiliates-sitemap{
        padding: 2rem 10rem;
        background-color: var(--color-gray-blue);
        text-align: center;
        color: white;
        & > * { /* each links */
            text-align: start;
            display: inline-block;
            margin: 0.5rem 1rem;
            font-size: 0.7rem;
            width: 14%;
            vertical-align: top;
            & em {
                display: block;
                font-weight: var(--boldest);
            }
        }
    }
    
    .footer__disclaimer{
        padding: 2rem 10rem;
        background-color: var(--color-gray-blue);
        color: white; 
        font-size: 0.8rem;
        text-align: center;
        a {font-weight: var(--boldest);}
        & > * { /* each links */
            margin: 0 1rem;
        }
    }
}