/*Base initializers*/
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
div,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
sup {
  font-size: 0.6em;
}
ul,
ol {
  list-style: none;
}
em,
address {
  font-style: normal;
}
a {
  color: inherit;
  text-decoration-line: none;
}
/*=============
  Global rules  
===============*/
.global-deco-Text-Bold {
  font-weight: 800;
  font-size: 1.1em;
}
/*=============
  Header rules  
===============*/
.deco-Header-Text-Orange {
  font-weight: 800;
  font-size: 1.1em;
  color: #f08804;
}
.header {
  background-color: #23303e;
  color: white;
  overflow: auto;
  font-size: 0.9em;
}
.header > * {
  margin-bottom: 0.5em;
}
.header > * > * {
  display: inline-block;
  box-sizing: border-box;
}
.header .header__department-list {
  font-weight: 800;
  font-size: 1.1em;
}
.header__brand-and-search .brand-logo-slot {
  position: relative;
  padding-top: 0.7em;
  padding-bottom: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 13%;
}
.header__brand-and-search .search {
  padding: 0 0.5em;
  width: 53%;
  height: 2em;
  vertical-align: middle;
  overflow: auto;
}
.header__brand-and-search .search .search__category-selector {
  width: 10%;
  float: left;
}
.header__brand-and-search .search .search__input-bar {
  width: 79%;
}
.header__brand-and-search .search .search__submit-btn {
  width: 10%;
  float: right;
}
.header__brand-and-search .learn-more-img {
  padding-top: 0.7em;
  float: right;
  width: 33%;
}
.header__quick-links {
  float: left;
  box-sizing: border-box;
  width: 65%;
  padding-left: 1em;
}
.header__quick-links .delivery-location > * {
  display: inline-block;
  height: 90%;
  vertical-align: middle;
  margin-right: 0.2em;
}
.header__quick-links .delivery-location__country {
  font-weight: 800;
  font-size: 1.1em;
}
.header__quick-links .department-list {
  font-weight: 800;
  font-size: 1.1em;
}
.header__quick-links > :nth-child(1),
.header__quick-links > :nth-child(2) {
  margin-right: 2em;
}
.header__quick-links > * {
  margin: 0 0.5em;
  vertical-align: bottom;
}
.header__user-section {
  float: right;
  box-sizing: border-box;
  width: 34%;
  padding-right: 2em;
}
.header__user-section > * {
  margin: 0 0.5em;
}
.header__user-section .account-menu,
.header__user-section .orders-menu-link,
.header__user-section .cart-text-link {
  font-weight: 800;
  font-size: 1.1em;
}
.cart {
  position: relative;
  margin-left: 3em;
  width: 5em;
  padding-left: 0.2em;
}
.cart .rule-cart-display {
  position: absolute;
  margin-right: 0.2em;
}
.cart .cart__num-of-item {
  position: absolute;
  margin-right: 0.2em;
  font-weight: 800;
  font-size: 1.1em;
  color: #f08804;
  bottom: 1.1em;
  left: -1.1em;
}
.cart .cart__img {
  position: absolute;
  margin-right: 0.2em;
  right: 4em;
  bottom: -0.2em;
}
/*=============
  Masthead_banner  
===============*/
.masthead_banner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.masthead_banner .campaign-msg {
  color: white;
  position: absolute;
  margin: 0 0 5em 5em;
}
.masthead_banner .campaign-msg h1 {
  font-size: 2.7em;
}
.masthead_banner .campaign-msg > span {
  font-size: 1.5em;
}
.masthead_banner .campaign-msg > * {
  display: block;
  margin-top: 1em;
}
.masthead_banner .campaign-msg__CTA > *,
.masthead_banner .campaign-msg__CTA > * > * {
  display: block;
}
.masthead_banner .campaign-msg__CTA > * {
  font-size: 1em;
  margin-top: 0.5em;
}
.masthead_banner .campaign-msg__CTA .try-prime-btn {
  background-color: #f08804;
  min-width: 25em;
  min-height: 4em;
}
.masthead_banner .bg-img > * {
  width: 100%;
  min-width: 1280px;
  min-height: 450px;
  z-index: -999;
}
.masthead_banner .prime-logo {
  position: absolute;
  left: 5em;
  bottom: 4em;
}
