/* nav-top style */

.navbar {
	background-color: #232f3e;
	width: 100%;
	height: 111px;
	position: relative;
}

.nav-wrap {
	width: 80%;
	margin: 0 auto;
	min-width: 1523px;
}

.navbar, .nav-top {
	overflow: hidden;
}

.nav-wrap>div {
	width: 90%
}

.nav-top {
	margin: 0 auto;
}

.nav-top>div {
	margin: 13px 18px 0 0px;
	float: left;
}

.logo {
	width: 135px;
	height: 100%;
	position: relative;
}

.logo-img {
	width: 100px;
	height: 30px;
}

.logo-primeLink {
	font-size: 11px;
	font-weight: 700;
	text-decoration: underline;
	color: #48A3C6;
	position: absolute;
	top: 17px;
	left: 70px;
}

.search-bar {
	box-sizing: border-box;
	width: 882px;
	border-radius: 4px;
	background-color: #fff;
	position: relative;
}

.selector {
	border-radius: 4px 0px 0px 4px;
	position: relative;
	width: 60px;
	display: inline-block;
	padding: 9px;
	border-right: 1px solid black;
}

.selector-ico {
	position: absolute;
	top: 18px;
	left: 35px;
	border-style: solid;
	border-width: 4px;
	border-color: transparent;
	border-top: 4px solid #666;
	border-bottom-width: 0;
}

.inputsearch {
	font-size: 1em;
	height: 100%;
	padding-left: 10px;
	position: absolute;
	width: 778px;
}

.selector-list {
	border-radius: 4px;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}

.searchexecute {
	width: 45px;
	height: 37px;
	float: right;
	background-color: #febd69;
	border-radius: 0px 4px 4px 0px;
}

.searchexecute_ico {
	position: relative;
	height: 21px;
	width: 21px;
	top: 7px;
	left: 13px;
}

.eventimg {
	width: 298px;
}

/* nav-bottom style */

.nav-bottom {
	margin: 15px auto 0 auto;
	width: 90%;
	height: 38px;
	color: #fff;
}

.nav-bottom>div {
	height: 100%;
	float: left;
	margin-right: 25px;
}

.menu {
	width: 723px;
	padding-top: 13px;
}

.usertools {
	width: 423px;
}

.location-ico {
	width: 20px;
	height: 22px;
}

.location-line {
	display: inline-block;
}

.location-line1 {
	display: block;
	font-size: 12px;
	font-weight: 400;
}

.location-line2 {
	font-size: 14px;
	font-weight: 700;
}

.hamburger-menu {
	position: relative;
	display: inline-block;
	width: 105px;
	font-size: 14px;
	font-weight: 700
}

.menu-arrow {
	position: absolute;
	top: 7px;
	left: 93px;
}

.menu-list {
	margin-left: 10px;
	font-size: 13px;
}

.menu-list a {
	color: #ccc;
	margin-left: 13px;
}

.usertools-leng, .usertools-login, .usertools-orders, .usertools-prime, .usertools-cart {
	float: left;
}

.usertools-leng {
	height: 100%;
	width: 45px;
}

.usertools-leng-satus {
	width: 25px;
	float: left;
}

.usertools-leng-txt {
	position: relative;
	left: 4px;
	font-size: 12px;
}

.usertools-leng-ico {
	position: relative;
	width: 14px;
	height: 14px;
	left: 6px;
}

.usertools-leng-arrow, .usertools-login-arrow, .usertools-orders-arrow, .menu-arrow {
	border-style: solid;
	border-width: 4px;
	border-color: transparent;
	border-top: 4px solid #666;
	border-bottom-width: 0;
}

.usertools-leng-arrow {
	float: left;
	margin-top: 15px;
}

.usertools-border {
	float: left;
	border: 1px solid #ccc;
	height: 30px;
	padding-top: 0px;
	margin-top: 4px;
	margin-bottom: 2px;
}

.usertools-login {
	width: 125px;
	margin-left: 12px;
}

.usertools-login-text {
	margin-top: 5px;
	font-size: 12px;
	font-weight: 400;
}

.usertools-login-popup {
	font-size: 14px;
	font-weight: 700;
}

.usertools-login-arrow {
	position: relative;
	top: 10px;
	left: 5px;
}

.usertools-orders, .usertools-prime {
	margin-top: 7px;
	margin-left: 1px;
	padding: 10px;
}

.usertools-orders-link {
	color: #ccc;
	font-size: 14px;
	font-weight: 700;
}

.usertools-orders-arrow {
	position: relative;
	display: inline-block;
	top: -2px;
}

.usertools-cart {
	position: relative;
	height: 100%;
	font-weight: 700;
}

.usertools-cart-ico {
	width: 38px;
	height: 26px;
}

.usertools-cart-count {
	position: absolute;
	color: #f08804;
	font-size: 16px;
	top: 1px;
	left: 17px;
}

.usertools-cart-contents {
	margin-top: 7px;
}

.detailpage {
	opacity: 0;
	height: 8000px;
}