.nav-search-autocomplete {
    position: relative;
}

.nav-search-autocomplete .nav-search-suggestion {
    position: absolute;
    left: 15.1rem;
    right: 29.4rem;
    border: .1rem solid #cdcdcd;
    background: #fff;
}

.nav-search-suggestion .suggestion-link {
    display: block;
}

.nav-search-suggestion .suggestion-link .suggestion-item {
    color: #000;
    font-size: 0;
    padding: .6rem .5rem;
}

.suggestion-item > span {
    font-size: 1rem;
}

.suggestion-item .prefix-highlight {
    font-weight: 800;
}

.dimmed {
    position: absolute;
    left: 0;
    width: 100%;
    height: 213rem;
    background: #000;
    opacity: 0.6;
    z-index: 3;
}