#prime-header {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Header_01._CB513133335_.png);
}

#prime-header .prime-header-content {
  color: #fff;
  padding: 33px 70px;
}

#prime-header .prime-header-content .main-headline {
  font-size: 42px;
  width: 450px;
  margin-bottom: 27px;
}

#prime-header .prime-header-content .sub-headline {
  font-size: 22px;
  width: 400px;
  margin-bottom: 30px;
}

#prime-header .prime-header-content .price {
  font-size: 14px;
  margin: 8px 0;
}

#prime-header .prime-header-content .plans a {
  color: #fff;
  font-size: 14px;
}

#prime-header .prime-header-content .prime-logo {
  width: 90px;
  margin-top: 40px;
}