/* ----- NAV PLAN BAR -----*/
  
.plan-layer {
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 2.5px solid #54b7fd;
    z-index: 2;
}

.plan-layer.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.plan-layer .hidden-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.7s;
}

.plan-layer .hidden-bar.visible {
    height: 4.6rem;
}

.plan-layer .hidden-bar .bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e;
}

.bar-wrapper .bar-prime-logo img{
    width: 7rem;
    height: 3.2rem;
    margin: 0.7rem 5rem;
}

.bar-wrapper .bar-see-more {
    color: #fff;
    font-size: 1.3rem;
    align-self: flex-end;
}

.bar-wrapper .bar-see-more span {
    display: block;
}

.bar-wrapper .bar-see-more .down-arrow {
    width: 0.75rem;
    border: .6rem solid transparent;
    border-top-color: #fff;
    margin: .5rem auto 0;
}

.bar-wrapper .bar-prime-btn {
    margin: auto 1.2rem;
}

.bar-wrapper .bar-prime-btn .btn-prime-text,
.bar-wrapper .bar-prime-btn .btn-prime {
    width: 16rem;
    height: 2.8rem;
}

.bar-wrapper .bar-prime-btn .btn-prime-text {
    line-height: 2.8rem;
}

.hidden-close,
.hidden-plan {
    background-color:#fff;
}

.hidden-close.visible {
    height: 1.5rem;
    text-align: center;
}

.hidden-close .close-arrow {
    display: inline-block;
    width: 0.9rem;
    height: 0.9rem;
    border: .2rem solid black;
    border-right: none;
    border-bottom: none;
    transform: translateY(0.5rem) rotateZ(45deg);
}

.plan-layer .hidden-plan.visible {
    height: 42rem;
}

.plan-container .plan-wrapper {
    width: 64rem;
    margin: 0 auto;
}

.plan-container .plan-wrapper .plan-header,
.plan-container .plan-wrapper .plan-contents {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    min-width: 50rem;
}

.plan-header .plan-prime-logo img {
    width: 5.3rem;
}

.plan-header .plan-header-title {
    font-size: 1.7rem;
}

.plan-header .plan-img {
    position: relative;
}

.plan-header .plan-img .close-btn {
    position: absolute;
    top: 1rem;
    right: 0;
    text-transform: uppercase;
}

.plan-header .plan-img .close-btn span {
    font-weight: bold;
    color: #bbb;
}

.plan-header .plan-img img {
    width: 18rem;
}

.plan-contents .content-option {
    padding: 1.5rem 2rem;
    border: .1rem solid #000;
}

.plan-contents input[type="radio"] {
    display: none;
}

.plan-contents .content-option .title {
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

.plan-contents .content-option .title span {
    display: block;
}

.plan-contents .content-option .benefit div {
    line-height: 2.5;
}

.plan-contents .content-option .benefit div .benefit-check {
    display: inline-block;
    width: 0.7rem;
    height: 1.4rem;
    border: .2rem solid #000;
    border-top: none;
    border-left: none;
    transform: rotateZ(45deg);
}

.plan-prime-btn {
    display: flex;
    margin: 1rem 0;
    justify-content: flex-end;
}

.plan-prime-btn form .btn-prime-text,
.plan-prime-btn form .btn-prime {
    width: 20rem;
    height: 3rem;
}

.plan-discount-link {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
}