/* ----- NAV PLAN LAYER -----*/

.nav-plan-layer {
    position: relative;
  }
  
.nav-plan-layer .nav-hidden-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #232f3e;
    border-bottom: 2px solid #54b7fd;

    transition: height 1s;
}

.nav-plan-layer .nav-hidden-layer.hidden {
    height: 0;
    overflow: hidden;
}

.nav-plan-layer .nav-hidden-layer.visible {
    height: 4.5625rem;
    overflow: hidden;
}


.nav-plan-layer .nav-hidden-layer .nav-hidden-prime-logo {
    width: 5rem;
    height: 3.75rem;
    margin: 10px 20px 2px 95px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/PrimeLogo_Blue._CB515489499_.svg);
    background-repeat: no-repeat;
}

.nav-plan-layer .nav-hidden-layer .nav-hidden-prime-btn {
    margin: 10px 15px;
}

.nav-plan-layer .nav-hidden-layer .nav-hidden-prime-btn .btn-prime-text,
.nav-plan-layer .nav-hidden-layer .nav-hidden-prime-btn .btn-prime {
    width: 10rem;
    height: 3rem;
}

.nav-plan-layer .nav-hidden-layer .nav-hidden-see-more {
    text-align: center;
    color: #fff;
    margin-top: 35px;
}

.nav-plan-layer .nav-hidden-layer .nav-hidden-see-more .down-arrow {
    display: inline-block;
    border: 6px solid transparent;
    border-top-color: #fff;
    margin-top: 5px;
}

.nav-hidden-plan {
    background: #fff;
}

.plan-container .plan-wrapper {
    width: 64rem;
    margin: 0 auto;
}

.plan-container .plan-wrapper .plan-header,
.plan-container .plan-wrapper .plan-contents {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    min-width: 50rem;
}

.plan-header .plan-prime-logo img {
    width: 5.3rem;
}

.plan-header .plan-header-title {
    font-size: 1.7rem;
}

.plan-header .plan-img {
    position: relative;
}

.plan-header .plan-img .close-btn {
    position: absolute;
    top: 1rem;
    right: 0;
    text-transform: uppercase;
}

.plan-header .plan-img .close-btn span {
    font-weight: bold;
    color: #bbb;
}

.plan-header .plan-img img {
    width: 18rem;
}

.plan-contents .content-option {
    padding: 1.5rem 2rem;
    border: 1px solid #000;
}

.plan-contents input[type="radio"] {
    display: none;
}

.plan-contents .content-option .title {
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

.plan-contents .content-option .title span {
    display: block;
}

.plan-contents .content-option .benefit div {
    line-height: 2.5;
}

.plan-contents .content-option .benefit div .benefit-check {
    display: inline-block;
    width: 0.7rem;
    height: 1.4rem;
    border: 2px solid #000;
    border-top: none;
    border-left: none;
    transform: rotateZ(45deg);
}

.plan-prime-btn {
    display: flex;
    margin: 1rem 0;
    justify-content: flex-end;
}

.plan-prime-btn form .btn-prime-text,
.plan-prime-btn form .btn-prime {
    width: 20rem;
    height: 3rem;
}

.plan-discount-link {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
}