/*=============
  stickyNav rules  
===============*/
.stickyNav {
  background-color: var(--color-gray-blue);
  color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  transform: translateZ(0);
}
.stickyNav__wrapper {
  z-index: -100;
}
.stickyNav__miniBar {
  position: sticky;
  width: 100%;
  transition: all 500ms;
  overflow: hidden;
  border-bottom: 1px solid var(--color-gray-blue--lighten);
  transform: translateZ(0);
  height: 0;
}
.stickyNav__miniBar.opened {
  height: 6rem;
}
.stickyNav__logoSlot {
  position: absolute;
  left: calc(var(--global-contents-left-padding) * 2);
  width: 10rem;
  height: 100%;
  top: 0;
}
.stickyNav__brandLogo {
  height: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.stickyNav__morePlanBtn {
  position: absolute;
  left: 33%;
  right: 33%;
  text-align: center;
  bottom: 0;
}
.stickyNav__CTABtn {
  position: absolute;
  right: calc(var(--global-contents-left-padding) * 2);
  height: 100%;
  top: 0;
}
.stickyNav__CTABtn > .global-deco-major-btn {
  position: relative;
  width: 12rem;
  height: 4rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
}

.stickyNav__detailLayer {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
  color: black;
  width: 100%;
  transition: all 500ms;
  transform: translateZ(0);
  height: 0;
}
.stickyNav__detailLayer.opened {
  height: 57rem;
}
.detailLayer__wrapper {
  position: relative;
  width: var(--detailLayer__wrapper--width);
  height: 100%;
  margin: 0 auto;
}
.detailLayer__topRow {
  width: 100%;
  height: 2rem;
}
.detailLayer__topRightClose {
  position: absolute;
  right: 3rem;
  top: 0;
}
.detailLayer__table {
  width: 85rem;
  margin: 0 auto;
}
.detailLayer__tableContent {
  width: 100%;
}
.detailLayer__CTArow {
  position: relative;
  margin: 1rem auto;
  height: 6rem;
}
.detailLayer__CTASlot {
  position: absolute;
  right: 0;
  text-align: center;
}
.detailLayer__CTASlot .global-deco-major-btn {
  width: 25rem;
  height: 4rem;
  font-size: 1.4rem;
}
.detailLayer__bottomClose {
  bottom: 0;
  width: 100%;
  text-align: center;
}
