@import "reset.css";
@import "search.css";
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

main {
  position: relative;
  padding: 40px;
  min-height: 100vh;
}

.bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#carousel {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 1000px;
}

#carousel .carousel__bg-color1 {
  background-color: #ffcd30;
}

#carousel .carousel__bg-color2 {
  background-color: #ff5e4d;
}

#carousel .carousel__bg-color3 {
  background-color: #49b5f3;
}

#carousel .carousel__bg-color4 {
  background-color: #5f85c4;
}

#card-menu .card-menu__list {
  display: flex;
  justify-content: space-between;
}

#card-menu .card-menu__card {
  width: 24%;
  height: 98px;
  text-align: center;
}

#card-menu .card-menu__card.card-menu__selected {
  transform: scale(1.2);
  transition: all 0.4s ease;
}

#card-menu .card-menu__card > button {
  width: 100%;
  height: 100%;
}

#card-menu .card__title {
  font-size: 18px;
  color: #fff;
}

#slider {
  position: relative;
  padding: 40px 0;
}

#slider .slider__container {
  margin: 0 5%;
  overflow: hidden;
}

#slider .slider__list {
  display: flex;
}

#slider .slider__item {
  display: flex;
  width: 100%;
}

#slider .slider__img-area {
  margin-left: 1px;
  width: 430px;
}

#slider .slider__img-area > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slider .slider__content {
  padding: 2% 4%;
  width: 900px;
  color: #333;
}

#slider .slider__titleBox {
  display: inline-block;
  padding: 4px 24px;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  font-size: 17px;

  color: #fff;
}

#slider .slider__content > h2 {
  margin: 17px 0;
  font-size: 45px;
  font-weight: bold;
}

#slider .slider__content > p {
  font-size: 18px;
  line-height: 26px;
}

#slider__btn > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0);
}

#slider__btn .slider__next-btn {
  right: 0;
}

#slider__btn > button > i {
  color: #444;
}
