// COLOR
$color-primary: #232f3e;
$color-primary-dark: #131A22;
$color-primary-light:#37475A;

$color-text-dark: #333;
$color-text-light: #ccc;
$color-text-white: #fff;
$color-text-black: #111;
$color-text-link: #0066c0;
$color-prime-submit-text: #284d40;

$color-search-submit-button: #febd69;
$color-prime-submit-button: #ffa724;
$color-prime-submit-border: #ff6138;


// GRID
$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;

// FONT
$default-font-size: 1.6rem;

// ICON
$color-nav-icon: #a7acb2;

$color-secondary: #0079b4;

// BUTTON


