// COLOR
$color-primary: #232f3e;
$color-primary-dark: #131A22;
$color-primary-light:#37475A;

$color-text-dark: #333;
$color-text-light: #ccc;
$color-text-white: #fff;
$color-text-black: #111;
$color-text-link: #0066c0;

//HOME
$color-prime-submit-text: #284d40;
$color-text-dark: #002F36;


// BUTTON
$color-search-submit-button: #febd69;
$color-search-submit-hover: #f3a847;
$color-prime-submit-button: #ffa724;
$color-prime-submit-border: #ff6138;

// Border

$color-border-light: #a7acb2;
$color-border-blue: #00a8e1;

// GRID
$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;

// FONT
$default-font-size: 1.6rem;

// FONT VARIABLES
$font-primary: arial, sans-serif;

// ICON
$color-nav-icon: #a7acb2;
$color-secondary: #0079b4;


