@import "flex";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

header {
  height: 100px;
  width: 100%;
  background-color: #222f3e;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
}

$search-radius: 5px;

.search-wrapper {
  width: 640px;
  height: 33px;
  background-color: #fff;
  border-radius: $search-radius;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .search-category {
    height: 100%;
    width: 46px;
    border-right: 1px solid gray;
    border-top-left-radius: $search-radius;
    border-bottom-left-radius: $search-radius;
    position: relative;
    background-color: #f3f3f3;

    .icon-down-arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 5px solid #555555;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      top: calc(50%);
      left: 1.8rem;
    }

    select {
      position: absolute;
      -webkit-appearance: none;
      outline: none;
      border: none;
      width: 100%;
      height: 100%;
      background-color: transparent;
      cursor: pointer;
      padding: 0 0.5rem;
      font-size: 0.8rem;
      color: #111;
    }
  }

  .search-input {
    flex-grow: 1;
    height: 100%;
    position: relative;

    input[type="search"] {
      position: absolute;
      -webkit-appearance: none;
      outline: none;
      border: none;
      width: 100%;
      height: 100%;
      background-color: transparent;
      cursor: text;
      padding: 0 0.5rem;
      font-size: 0.8rem;
      color: #111;
    }
  }

  .search-submit {
    background-color: #febd68;
    width: 45px;
    height: 100%;
    border-top-right-radius: $search-radius;
    border-bottom-right-radius: $search-radius;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .icon-magnifying-glass {
      transform: rotate(-45deg);
      font-size: 1.9rem;
      font-weight: 400;
    }

    input[type="submit"] {
      position: absolute;
      -webkit-appearance: none;
      outline: none;
      border: none;
      width: 100%;
      height: 100%;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .search-submit:hover {
    background-color: #fdab3f;
  }
}

main {
  @include flex-grow(1);
  height: auto;
  padding: 1rem 2rem;
}
