@import "flex";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  height: 100%;
}

body {
  @include flexbox();
  @include flex-direction(row);
  height: 100%;
}

nav {
  height: 100%;
  border-right: 1px solid gray;
  padding: 1rem;
}

header {
  height: 4rem;
  width: 100%;
  background-color: #aaa;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
}

main {
  @include flex-grow(1);
  height: auto;
  padding: 1rem 2rem;
}
