.row{
    display: grid;
    grid-auto-columns: minmax(auto, auto);
    grid-template-columns: 19.2rem 67.3rem 40rem;
    .col-1-of-2{
        grid-row: 1/2
    }
    .col-1-of-4{
        grid-row: 1/4
    }
    .header-left{
        width: 19.2rem;
    }
    .header-center{
        width: 67.3rem;
    }
    .header-right{
        width: 40rem;
    }
}