body {
  background-color: lightblue;
}

.search-form {
  width: 400px;
  height: 20px;
}

ul {
  border: 1px solid black;
  width: 400px;
  margin-left: 40px;
  padding: 10px;
  display: none;
}

li {
  list-style-type: none;
  border: 1px solid grey;
}
