.menu-section {
  width: 1200px;
  display: flex;
  flex-direction: row;
  border: black solid 1px;
  padding:40px;
}

.menu-section__picture {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  vertical-align:middle;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 20px;
}

.main-image-parent {
  width: 400px;
  overflow: hidden;
}

.main-image-child {
  width: 1200px;
  transform: translateX(-400px);
}

.menu-section__text {
  display: flex;
  flex-direction: column;
}

.menu-section__text-title {
  font-size: 50px;
}

.menu-section__text-explore {
  font-weight: bold;
}