$autocomplete-height: 2rem;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: rgb(255, 242, 207);
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .autocomplete {
    height: $autocomplete-height;
    width: 30rem;
    min-width: 22rem;

    form {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      input[type="search"] {
        -webkit-appearance: none;
        border: none;
        min-width: 20rem;
        width: 100%;
        height: 100%;
        border: 1px solid rgb(209, 209, 209);
        font-size: 1.4rem;
      }

      input[type="submit"] {
        -webkit-appearance: none;
        height: 100%;
        width: 2rem;
        font-size: 1rem;
      }
    }

    .recent {
      ul {
        height: 100%;

        li {
          list-style: none;
          border-bottom: 1px solid gray;
          height: 100%;
        }
      }

    }
  }
}
