button {
  border: 0px;
  padding: 0px;
}

.main-carousel {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.carousel-list-el {
  background-position: -98px -21px;
}

.carousel-button-container{
    display:flex;
    align-items:center;
}

.carousel-button-container-button-left {
  width: 52px;
  height: 52px;
  background-image: url('../amazonImage/carouselLeftBtn.png');
  background-size: 52px;
  margin-right: 20px;
}

/* backgroundImage */

.twoDayShipping {
  background-image: url('../amazonImage/twoDayShipping.jpg');
}

/* End */

.carousel-show {
  display: inline-block;
  width: 1048px;
  height: 271px;
  margin-bottom:50px;
}

.carousel-button-container-button-right {
  width: 52px;
  height: 52px;
  background-image: url('../amazonImage/carouselRightBtn.png');
  background-size: 52px;
  margin-left: 20px;
}

.carousel-content-container {
  margin-left: 50%;
  margin-right: 5%;
}

.carousel-ship-color {
  display: inline-block;
  background-color: #00A8E1;
  color: var(--color-basic);
  padding: 5px 10px;
  margin-bottom: 20px;
}

.carousel-stream-color {
  display: inline-block;
  background-color: #FF6138;
  color: var(--color-basic);
  padding: 5px 10px;
  margin-bottom: 20px;
}

.carousel-shop-color {
  display: inline-block;
  background-color: #E31F64;
  color: var(--color-basic);
  padding: 5px 10px;
  margin-bottom: 20px;
}

.carousel-read-color {
  display: inline-block;
  background-color: #36C2B4;
  color: var(--color-basic);
  padding: 5px 10px;
  margin-bottom: 20px;
}

.carousel-more-color {
  display: inline-block;
  background-color: #FFC400;
  color: var(--color-basic);;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.card-headline {
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.card-body {
  color: #575757;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}

.carousel-link {
  font-size: 18px;
  color: #000;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

.carousel-link:hover {
  text-decoration: underline;
}