@keyframes i-width {
    0% {background-position-x: 0px;}
    100% {background-position-x: -1200px;}
}
@keyframes i-height {
    0% {background-position-y: 0px;}
    100% {background-position-y: -630px;}
}