html{
  font-family: $font-primary
}

.nav__big-text{
  color: $color-text-white;
  font-weight: bold;
  font-size: 1.4rem;
}
.nav__small-text{
  color: $color-text-white;
  font-size: 1.3rem;
}
.nav__cart-counter{
  color: $color-text-white;
  font-size: 1.6rem;
}

[class^=prime--]{
  font-family: AmazonEmber;
}


@font-face {
  font-family: AmazonEmber;
  src: url(../font/AmazonEmber_300.woff) format('woff');
  font-weight: 300;
}
@font-face {
  font-family: AmazonEmber;
  src: url(../font/AmazonEmber_400.woff2) format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: AmazonEmber;
  src: url(../font/AmazonEmber_700.woff2) format('woff2');
  font-weight: 700;
}
