.nav_bar_item {
  display: flex;
  width: 200px;
  height: 67px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  margin-top: 50px;
  border-radius: 1px;
  padding: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 1px;
  line-height: 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.nav_bar_item:nth-child(1) {
  background-color: skyblue;
  transform: scale(1.1);
}
.nav_bar_item:nth-child(2) {
  margin-right: 3px;
  margin-left: 6px;
  background-color: purple;
}
.nav_bar_item:nth-child(3) {
  margin-left: 3px;
  margin-right: 6px;
  background-color: green;
}
.nav_bar_item:nth-child(4) {
  background-color: orange;
}

.nav_bar {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 835px;
  height: 300px;
  margin-top: 50px;
  padding-top: 11px;
}

.carousel-slide {
  position: relative;
  display: flex;
  width: 5010px;
  height: 200px;
  align-items: center;
  justify-content: center;
  transform: translateX(835px);
}

.btn-prev {
  position: absolute;
  z-index: 10;
  left: 10%;
  font-size: 30px;
  color: black;
  cursor: pointer;
}
.btn-next {
  position: absolute;
  z-index: 10;
  right: 10%;
  font-size: 30px;
  color: black;
  cursor: pointer;
}
.item {
  display: flex;
  width: 835px;
}
.item-img {
  /* width: 120px; */
  height: 150px;
}
.item-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.item-text {
  width: 550px;
  font-size: 19px;
  padding-left: 30px;
}
.item-text h1 {
  margin-bottom: 5px;
}
/* .item-text ul {
    line-height: 5px;
  } */
.under {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 40px;
}
