/* amazon_step1 css */

body {
    margin: 0px;
}

#header-bar {
    width: 1366px;
    height: 50px;
    margin: 0 auto;
    background-color: rgb(34, 46, 62);
    overflow: hidden;
    color: white;
}

#logo-area {
    width: 180px;
    height: 50px;
    float: left;
    margin: 0 auto;
}

#search-panel {
    position: relative;
    left: 40px;
    width: 60%;
    height: 50px;
    float: left;
}

#department-view {
    width: 45px; 
    height: 30px; 
    margin: 10px 0px 10px 20px; 
    float:left;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    border-radius: 3px 0px 0px 3px;      
    padding-bottom: 2px;
    background-color: rgb(243,243,243); color: rgb(127,127,127);
}

#search-field {
    width: 70%; 
    height: 32px; 
    margin: 10px 0px 10px 0px;
    float:left;
    text-align: center; 
    line-height: 30px;
    background-color: white; 
}

#search-button {
    width: 45px; 
    height: 32px; 
    margin: 10px 0px;
    float: left;   
    text-align: center; 
    line-height: 30px;  
    border-radius: 0px 3px 3px 0px;
    background-color: rgb(255,189,99);
}

#header-banner-area {
    padding-top: 9px;
    width: 360px;
    height: 50px;
    float: right;
}

#nav-bar {
    width: 1366px;
    height: 50px;
    margin: 0 auto;
    background-color: rgb(34, 46, 62);
    overflow: hidden;
    color: white;
}

#location-panel {
    width: 180px;
    height: 50px;
    float: left;
    overflow: hidden;
}

#location-icon {
    width: 40px; 
    height: 40px; 
    float: left; 
    text-align: center; 
    margin-top:15px;
}

#nav-menu-area {
    width: 620px;
    height: 50px;
    float: left;
}

.nav-menu-list {
    list-style: none;
}

.nav-menu-name {
    margin: 12px 0px 0px 20px;
    float: left;
}

#user-panel {
    overflow: hidden; 
    float: right; 
    width:400px
}

#lang-selection-panel {
    width: 62px;
    height: 50px;
    float: right;
}

#account-panel {
    width: 183px;
    height: 43px;
    float: right;
}

#cart-to-checkout {
    width: 84px;
    height: 38px;
    margin-top: 10px;
    margin-left: 5px;
    float: right;
}

.sections-area {
    width: 1366px;
    margin: 0 auto;
    min-width: 800px;
    position: relative;
}

.sections-images {
    width: 1366px;
    min-width: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}

#try-prime-button {
    width:400px; 
    height:21px; 
    padding: 22px 0px; 
    position: relative; 
    top:90px; 
    left:40px; 
    background: orange; 
    border:solid 1px red; 
    border-radius: 4px; 
    text-align: center; 
    font-size: 20px; 
    font-weight: bold;
}

.section-cards-area {
    width: auto;
    height: 240px;
    text-align: center;
    float: left;
    position: relative;
    top: 100px;
    left: 144px;
}

.section-cards {
    position: relative;
    left: 0px;
    width: 150px;
    height: 210px;
    margin: 3px;
    float: left;
    z-index: 20;
}

.section-cards-images {
    position: relative;
    top: 20px
}

.section-cards-titles {
    font-size: 18px;
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

#footer-back-to-top {
    width:auto; 
    height:20px; 
    padding:10px 40px; 
    text-align: center; 
    color: white; 
    font-size:20px; 
    background-color: rgb(21,27,36);
}

#prime-sitemap {
    width:auto; 
    height: auto; 
    padding:10px; 
    overflow: hidden; 
    color: white; 
    background-color: rgb(13,18,24)
}

#footer-prime-sitemap-area {
    width:1100px; 
    margin: 0px auto;
}

.footer-prime-sitemap-sections {
    float: left;
    position: relative;
    left: 5%;
    margin: 20px;
}

.footer-sitemap-main-entries {
    list-style: none;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 9px;
}

.footer-sitemap-sub-entry-area {
    padding: 0px;
    margin-top: 16px;
}

.footer-sub-entries {
    list-style: none;
    font-size: 14px;
    font-weight: initial;
    margin: 5px 0px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

.link-style:hover {
    text-decoration: none;
}
