#prime-main-contents {
  padding-top: 99px;
}

/* main text 및 img */
.guide-text {
  display: none;
}

.prime-detail-page {
  display: block;
  margin: 0 auto;
  max-width: 1400px;
  min-width: 1000px;
  font-family: Tahoma, Arial, sans-serif;
}

.prime-hero-header {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Header_01._CB513133335_.png);
  background-position: left top;
  background-repeat: no-repeat;
  height: 476px;
  color: #fff;
  padding: 32px 0 48px 0;
}

.header {
  width: 500px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 4px;
  margin-bottom: 22px;
}

.subheader {
  font-size: 22px;
  margin-bottom: 32px;
  width: 400px;
  line-height: 25px;
  font-weight: 300;
  font-family: Tahoma, Arial, sans-serif;
}

.prime-hero-content {
  position: absolute;
  width: 500px;
  margin: 0 70px;
}

.prime-link {
  box-sizing: border-box;
  margin-bottom: 10px;
}

.prime-a-button-outer {
  display: inline-block;
  min-width: 360px;
  min-height: 54px;
  border-radius: 3px;
  border: 1px solid #ff6138;
  background-color: #ffa724;
  cursor: pointer;
  padding: 0;

}

.a-button-input {
  border: 1px 6px 1px 6px;
  background-color: transparent;
  color: #285343;
  border: 0;
  cursor: pointer;
  height: 54px;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 550;
}

.prime-plan-button {
  margin-bottom: 32px;
}

.prime-plan-text {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.prime-logo-img {
  width: 80px;
  margin-bottom: 32px;
}

/* Card 카테고리 */