button {
    border: none;
    background: transparent;
    padding: 0;
}

button i {
    font-size: 50px;
    color: #3d3d3d;
}

.prev {
    position: absolute;
    top: 57%;
    left: -80px;
}

.next {
    position: absolute;
    top: 57%;
    right: -80px;
}
