.card-wrapper {
    overflow: hidden;
    margin-top: 40px;
}

.card-list {
    display: flex;
    width: 400%;
    transition: all 0.5s ease-in-out;
    transform: translateX(-1080px);
}

.card {
    min-width: 1080px;
    display: flex;
    justify-content: space-between;
}

.card-image {
    width: 300px;
    height: 300px;
}

.card-image img {
    width: 100%;
    border-radius: 50%;
}

.card-contents {
    width: 700px;
    margin-top: 30px;
}

.card-contents > h4 {
    font-size: 32px;
}

.card-contents > ul {
    margin-top: 20px;
    list-style: circle;
}

.card-contents li {
    line-height: 2;
}
