.head-nav-container {
    font-family: arial,sans-serif;
    overflow:hidden;
    background-color:#24313f;
}

.head-nav-location{
    float:left;
    width:185px;
}

.head-nav-location-img {
    padding-top:3px;
    margin:5px 5px 5px 15px;
}

.head-nav-location-word {
    font-size: 12px;
    color:#fff
}

.head-nav-location-user {
    position:relative;
    bottom:3px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    color:#fff;
}

.head-nav-location-img {
    float:left;
}
/* 끝 */

.head-nav {
    margin:6px 0px 0px 6px;
    width:851px;
    float:left;
}

.head-nav-list {
    list-style:none;
    padding-left:10px;
    margin:5px 0px 0px 0px;
}

.head-nav-list-el-selector {
    display:inline-block;
    margin:4px;
    position: relative;
    bottom:1px;
}

.head-nav-list-el-selector-word {
    font-size:14px;
    font-weight: 700px;
    color:#fff;
    font-family: arial,sans-serif;
    font-weight: 700;
    margin-right: 30px;
}

.head-arrow-bright {
    position: absolute;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #a7acb2;
    top:8px;
    right:17px;
}

.head-nav-list-el {
    display:inline-block;
    font-size:13px;
    color:#ccc;
    margin: 0px 3.5px;
    text-decoration: none;
}
.head-nav-list-el :hover {
    text-decoration: underline;
}

.head-nav-right {
    float:left;
}