* {
  box-sizing: border-box;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.header-text {
  text-align: center;
  width: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.header-text:nth-child(1) {
  background-color: #2392c0;
}

.header-text:nth-child(2) {
  background-color: #a90067;
}

.header-text:nth-child(3) {
  background-color: #018577;
}

.header-text:nth-child(4) {
  background-color: #e65d17;
}
