* {
    box-sizing: border-box;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    height: 60px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.nav-menu {
    text-align: center;
    width: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.nav-menu:nth-child(1) {
    background-color: #2392c0;
}

.nav-menu:nth-child(2) {
    background-color: #a90067;
}

.nav-menu:nth-child(3) {
    background-color: #018577;
}

.nav-menu:nth-child(4) {
    background-color: #e65d17;
}

.selected {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
