body {
    margin:0;
}

.head-search-container{
    overflow:hidden;
    background-color:#24313f;
}

.head-search-icon {
    float:left;
    margin: 5px 15px;
}

.head-search {
    width: 400px;
    height: 44px;
    float:left;
}

.head-search-block {
    padding-left: 30px;
    padding-top: 11px;
}

.head-search-right {
    float:right;
}

.