@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.wrap {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

body{
  background: #fff;
}

.searchBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    z-index: 1;
    opacity: 0.4;
    visibility: hidden;
}

.searchBox {
  width: 80%;
  position: relative;
  display: flex;
  margin: 0 auto;
  z-index: 2;
}

.searchInputField {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchSuggestion {
    padding: 0px;
    background-color: #fff;
    position:absolute;
    width: 80%;
    z-index: 2;
    margin: 0 auto;
    top: 34px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border: 1px solid #000;
    visibility: hidden;
}

.searchSuggestion > li {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    overflow: hidden;
    padding-left: 10px;
    font-weight: bold;
}

.searchSuggestion > li:hover {
    background-color: #d3d3d3;
}

.searchSuggestion > .selected {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    overflow: hidden;
    padding-left: 10px;
    font-weight: bold;
    background-color: #d3d3d3;
}

.wrap > .card_navigation {
    width: 930px;
    height: 360px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 5px #000;
    position: relative;
}

.wrap > .card_navigation > #menu {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 110px;
    justify-content: center;
    align-items: center;
}

.wrap > .card_navigation > #menu > li {
    margin-left: 5px;
    margin-right: 5px;
}

.wrap > .card_navigation > #menu > li > button {
    display: inline-block;
    width: 145px;
    height: 54px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.2;
    color: #fff;
    outline: none;
}

.wrap > .card_navigation > #menu > li > .selected{
    display: inline-block;
    width: 165px;
    height: 66px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px -10px 0px -10px;
    line-height: 1.2;
    color: #fff;
}

.wrap > .card_navigation > #menu > li:nth-child(1) > button {
    background-color: #337fa1;
}

.wrap > .card_navigation > #menu > li:nth-child(2) > button {
    background-color: #581e66
}

.wrap > .card_navigation > #menu > li:nth-child(3) > button {
    background-color: #1e6156
}

.wrap > .card_navigation > #menu > li:nth-child(4) > button {
    background-color: #eeab54;
}

.content-container {
    float: left;
    width: 660px;
    height: 250px;
    overflow: hidden;
    position: relative;
    left: 135px;
}

#content {
    display: flex;
    width: 660px;
    height: 250px;
}

#content > li {
    float: left;
    width: 660px;
    height: 250px;
}

#content > li > .content_wrap {
    width: 660px;
    height: 250px;
}

#content > li > .content_wrap > .image {
    float: left;
    margin-left: 50px;
    margin-top: 12px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
}

#content > li > .content_wrap > .container  {
    display: inline-block;
    width: 360px;
    height: 250px;
}

#content > li > .content_wrap > .container > .title {
    display: block;
    width: 100%;
    line-height: 1.39;
    font-size: 24px;
}

#content > li > .content_wrap > .container > .description {
    display: block;
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
}

#content > li > .content_wrap > .container > .description > li { 
    position: relative;
    padding-left: 10px;
}

#content > li > .content_wrap > .container > .description > li::before {
    position: absolute;
    top: 10px;
    left: 2px;
    content:'';
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
}

#card_navigation_button_left {
    width: 50px;
    height: 50px;
    left: 50px;
    top: 200px;
    background-color: #4e5251;
    border-radius: 50%;
    color: #fff;
    outline: none;
    position: absolute;
}

#card_navigation_button_right {
    width: 50px;
    height: 50px;
    left: 830px;
    top: 200px;
    background-color: #4e5251;
    border-radius: 50%;
    color: #fff;
    outline: none;
    position: absolute;
}