.section-basic-style {
    background-color: #a6d0d3;
  padding: 1em;
}

.visible {
  display : block!important;
}

.container {
  margin: 150px 20%;
}

.countInfoWrap {
  position: absolute;
  top: 5%;
  right: 5%;
  width:200px;
}

.countInfoWrap > div {
  float: left;
  margin-right: 10%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 2em;
  color: #fff;
  font-weight: 500;
}

.todo-count {
  background: green;
}

.done-count {
  background: #c1adad;
  text-decoration: line-through;
}

.todoBox {
  margin-bottom: 10%;
  background-color: #a6d0d2;
  padding: 1em;
}

.todoBox button {
  height: 32px;
}

input[name=todo] {
  width: 200px;
  height: 30px;
  padding: 0.5em;
}

.logBox .todolist {
  display:none;
}

.logBox .todolist li  {
  margin-bottom: 0.5em;
}

.fold {
  display :none;
  float: right;
  width: 50px;
  height: 30px;
  font-size: 0.8em;
  border-style: none;
  cursor: pointer;
  border-radius: 0.2em;
}

.deleteX {
  cursor: pointer;
  padding: 0.1em;
  box-sizing: border-box;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  background-color: #eeb0b0;
  color: #f9f9f9;
  margin-left: 0.2em;
}