@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search-box {
  height: 100px;
  background: #232f3e;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-content {
  width: 40%;
}

.search-wrap {
  width: 100%;
  position: relative;
  display: flex;
}

.search-term {
  width: 100%;
  border-right: none;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.search-term:focus {
  color: #111;
}

.search-button {
  width: 45px;
  border: none;
  background: #febd69;
  text-align: center;
  color: #111;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 25px;
}

.fa-search:before {
  content: "\f002";
  color: #fff;
}

.nav-active {
  box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgba(255, 153, 0, 0.5);
  border-radius: 5px;
  z-index: 1;
}

.auto-complete {
  visibility: hidden;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  background-color: #fff;
  width: 40%;
  overflow-x: hidden;
  border: 0.5px solid black;
  z-index: 10;
  cursor: pointer;
}

.auto-complete > ul > li {
  padding-left: 10px;
  height: 35px;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
}

/* ------------------------------------------------------------------------------------- */

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.slide-nav-title {
  display: block;
  width: 800px;
}

.wrap {
  position: relative;
  margin: 30px 70px;
}

.slide-container {
  padding: 20px;
  margin: 0 auto;
  width: 800px;
}

.slide-navigation li {
  float: left;
  width: 25%;
}

.slider {
  width: calc(100% * 6);
}

.slider > li {
  overflow: hidden;
  padding: 20px 20px;
  float: left;
  width: calc(100% / 6);
}

.slider li .img-wrap,
.slider li .contents-wrap {
  float: left;
}

.slider li .img-wrap {
  width: 30%;
}

.slider li .img-wrap img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1000px;
}

.slider li .contents-wrap {
  width: calc(100% - 30%);
  padding-left: 20px;
}

.contents-wrap > h2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 20px;
}

.contents-wrap > ul > li {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

.slide-container {
  overflow: hidden;
  position: relative;
}

.slide-navigation {
  margin-left: -5px;
  margin-right: -5px;
}

.slide-navigation li {
  padding: 0 5px;
  height: 60px;
  transition: 0.2s ease-in;
}

.slide-navigation li:hover,
.slide-navigation li button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s ease-in;
}

.slide-navigation li:first-child button {
  background-color: blue;
}

.slide-navigation li:nth-child(2) button {
  background-color: purple;
}

.slide-navigation li:nth-child(3) button {
  background-color: green;
}

.slide-navigation li:last-child button {
  background-color: orange;
}

.slide-navigation li button {
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
}

.slide-btn {
  position: absolute;
  width: 800px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-btn button {
  position: absolute;
  height: 100%;
  width: 40px;
  background-image: url(../images/button.png);
  background-size: 100%;
  cursor: pointer;
}

.slide-btn .prev-btn {
  left: -30px;
}

.slide-btn .next-btn {
  right: -30px;
  transform: rotate(180deg);
}
