@include font-face('Amazon Ember', 'normal', '../fonts/AmazonEmber_Rg');
@include font-face('Amazon Ember', 'bold', '../fonts/AmazonEmber_Bd');
@include font-face('Amazon Ember', 'light', '../fonts/AmazonEmber_Lt');

body {
  font-family: 'Amazon Ember', sans-serif;
}

h1 {
  transform: translateY(100px);
  font-weight: normal;
  color: green;
}

h2 {
  font-weight: bold;
  color: blue;
}
