.main{
    position: relative;
}
.prime-about{
    height: 47.4rem;
    padding: 3rem 0 0 7rem;
    background: url(../images/Prime_about.png);
    background-size: auto 47.6rem;
    background-position: left bottom;
    background-repeat: no-repeat;
    font-family: AmazonEmber, arial, sans-serif;
    color: $color-text-white;
    sup{
        font-size: 55%;
    }
    .story{
        width: 50rem;
    }
    &__logo{
        width: 8rem;
    }
    &__heading-1{
        line-height: 1.2;
        font-size: 4.2rem;
        margin-bottom: 2.6rem;
    }
    &__paragraph{
        width: 40rem;
        margin-bottom: 3.2rem;
        font-size: 2.2rem;
        line-height: 2.5rem;
        font-weight: 300;
    }
    &__form{
        display: inline-block;
    }
    &--info{
        margin-top: .7rem;
        font-size: 1.4rem;
    }
    &__text-box{
        &__text{
            font-size: 1.4rem;
        }
    }
    &--more{
        display: flex;
        align-items: center;
        margin-top: .2rem;
        margin-bottom: 3.5rem;
        &__text{
            font-size: 1.4rem;
            text-decoration: underline;
        }
        &__icon{
            background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Sprites_2x._CB493761273_.png);
            -moz-background-size: 158px auto;
            background-size: 158px auto;
            width: .6rem;
            height: .9rem;
            display: inline-block;
            vertical-align: middle;
            background-position: 0 -233px;
            margin-top: .4rem;
            margin-left: .6rem;
        }
    }
}

.prime-detail{
    position: relative;
    top: -9.2rem;
    margin-bottom: -9.2rem;
    &__heading-text{
        margin-bottom: 2rem;
        font-size: 2.2rem;
        font-weight: 300;
    }
    &__container{
        text-align: center;
        .carousel{
            display: grid;
            grid-template-columns: 7.2rem 91.1rem 7.2rem;
            grid-gap: 1.4rem;
            justify-content: center;
            @media only screen and(max-width: 1200px) {
                width: 96rem;
                grid-gap: 3rem;
                grid-template-columns: 7.2fr 91.1fr 7.2fr;
                margin: 0 auto;
            }
            &__arrow-box{
                position: relative;
                .arrow-icon{
                    position: absolute;
                    top: 40%;
                }
            }
            &__left{
                .arrow-icon{
                    left: 0.3rem;
                    background-color: transparent;
                    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Sprites_2x._CB493761273_.png);
                    -moz-background-size: 158px auto;
                    background-size: 158px auto;
                    border: none !important;
                    cursor: pointer;
                    display: block;
                    overflow: hidden;
                    text-align: center;
                    width: 52px;
                    height: 52px;
                    display: inline-block;
                    background-position: -53px 0px;
                    @media only screen and(max-width: 1200px) {
                        right: 0;
                        left: auto;
                    }
                }
            }
            &__right{
                .arrow-icon{
                    right: 0;
                    background-color: transparent;
                    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Sprites_2x._CB493761273_.png);
                    -moz-background-size: 158px auto;
                    background-size: 158px auto;
                    border: none !important;
                    cursor: pointer;
                    display: block;
                    overflow: hidden;
                    text-align: center;
                    width: 52px;
                    height: 52px;
                    display: inline-block;
                    background-position: -53px -104px;
                    @media only screen and(max-width: 1200px) {
                        right: auto;
                        left: .2rem;
                    }
                }
            }
            &__list{
                margin: 0 auto;
                height: 40rem;
                width: 100%;
            }
            &__item{
                padding-top: 3rem;
                @media only screen and(max-width: 1200px) {
                    width: 77.4rem;
                }
            }
            &__ship-1{
                background: linear-gradient(to right, #FFF, #FFF 15px, rgba(255,255,255,0) 45px), url(../images/Card_ship_01.jpg);
                background-position: center;
            }
            .text-box{
                &__link-box{
                    .arrow-icon{
                        background-position: -6px -233px;
                        margin: 0 0 .3rem .4rem;
                    }
                }
                &__link{
                    line-height: 1.8rem;
                }
                &__heading{
                    line-height: 3.2rem;
                }
            }
        }
    }
}

.prime-more{
    margin-top: 2.3rem;
    &__heading-2{
        margin-left: 7rem;
        margin-bottom: .8rem;
        font-family: AmazonEmber;
        font-size: 2.8rem;
        font-weight: 300;
    }
    &--delivery{
        height: 36rem;
        padding-left: 7rem;
        background-image: url(../images/PrimeDelivery.png);
        background-size: auto 360px;
        background-position: top center;
        .text-box{
            width: 50rem;
            padding-top: 6.5rem;
            &__heading{
                line-height: 4.8rem;
                font-size: 4.8rem;
                font-weight: 300;
                color: $color-text-white;
            }
            &__paragraph{
                width: 42rem;
                line-height: 2.5rem;
                font-size: 1.8rem;
                color: $color-text-white;
            }
            &__link{
                line-height: 1.8rem;
                color: $color-text-white;
            }
            &__link-box{
                .arrow-icon{
                    background-position: 0 -233px;
                    margin: 0 0 .3rem .4rem;
                }
            }
        }
    }
    &--Video{
        display: grid;
        grid-template-columns: 1fr 58rem;
        height: 36.8rem;
        margin-top: 0rem;
        padding: 6rem 7rem 0;
        @media only screen and(max-width: 1200px) {
            grid-template-columns: 1fr 58.9rem;
            padding: 6rem 0rem 4.8rem .5rem;
        }
        .carousel{
            display: grid;
            grid-template-columns: 4rem 28rem 4rem;
            grid-template-rows: 21rem;
            justify-content: center;
            padding-top: .8rem;
            padding-right: 1.7rem;
            @media only screen and(max-width: 1200px) {
                padding-right: .9rem;
            }
            &__list{
                width: 100%;
                height: 100%;
                margin: 0 auto;
                overflow: hidden;
            }
            &__item{
                background: url(../images/video.jpg);
                background-size: cover;
                &.transition{
                    transition: all .2s;
                }
            }
            &__arrow-box{
                position: relative;
                .arrow-icon{
                    position: absolute;
                    top: 40.5%;
                }
            }
            &__left{
                .arrow-icon{
                    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Sprites_2x._CB493761273_.png);
                    background-size: 158px auto;
                    background-position: -79px -208px;
                    left: .3rem;
                    width: 13px;
                    height: 20px;
                    display: inline-block;
                    cursor: pointer;
                }
            }
            &__right{
                .arrow-icon{
                    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Sprites_2x._CB493761273_.png);
                    background-size: 158px auto;
                    background-position: -92px -208px;
                    right: .3rem;
                    width: 13px;
                    height: 20px;
                    display: inline-block;
                    cursor: pointer;
                }
            }
        }
        .text-box{
            width: 58rem;
            color: $color-text-dark;
            font-family: AmazonEmber;
            &__heading{
                line-height: 4.8rem;
                font-size: 4.8rem;
                font-weight: 300;
            }
            &__paragraph{
                width: 50rem;
                line-height: 2.5rem;
                font-size: 1.8rem;
            }
            &__link{
                line-height: 1.8rem;
            }
            &__link-box{
                .arrow-icon{
                    margin: 0 0 .3rem .4rem;
                }
            }
        }
    }
}