.cards{
    padding: 2.6rem 0;
    display: grid;
    grid-template-columns: repeat(5, 15rem);
    grid-template-rows: 21rem;
    grid-auto-flow: column;
    grid-gap: .6rem;
    justify-content: center;
    list-style: none;
    &__card{
        position: relative;
        height: 100%;
        cursor: pointer;
        &__title{
            position: absolute;
            left: 0;
            bottom: 2.2rem;
            width: 100%;
            font-family: AmazonEmber;
            font-weight: 300;
            text-align: center;
            font-size: 2rem;
            font-weight: 300;
            color: #FFF;
            pointer-events: none;
        }
        &--blue{
            background-image: linear-gradient(30deg, #2C88AE 40%, #00A8E1 85%, #00A8E1 74px);
            .clickable{
                background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/InteractivePlane_TILES_SpriteSheet_A._CB513333159_.png), linear-gradient(30deg, #2C88AE 40%, #00A8E1 90%, #00A8E1 48px);
            }
        }
        &--red{
            background-image: linear-gradient(30deg, #CC0C39 40%, #FF6138 85%, #FF6138 74px);
            .clickable{
                background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/InteractivePlane_TILES_SpriteSheet_B._CB513285352_.png), linear-gradient(30deg, #CC0C39 40%, #FF6138 90%, #FF6138 48px);
            }
        }
        &--pink{
            background-image: linear-gradient(30deg, #A90067 40%, #E31F64 85%, #E31F64 74px);
            .clickable{
                background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/InteractivePlane_TILES_SpriteSheet_C._CB513285352_.png), linear-gradient(30deg, #A90067 40%, #E31F64 90%, #E31F64 48px);
            }
        }
        &--green{
            background-image: linear-gradient(30deg, #008577 40%, #36C2B4 85%, #36C2B4 74px);
            .clickable{
                background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/InteractivePlane_TILES_SpriteSheet_D._CB513285353_.png), linear-gradient(30deg, #008577 40%, #36C2B4 90%, #36C2B4 48px);
            }
        }
        &--orange{
            background-image: linear-gradient(30deg, #FF6138 40%, #FFC400 85%, #FFC400 74px);
            .clickable{
                background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/InteractivePlane_TILES_SpriteSheet_E._CB513285352_.png), linear-gradient(30deg, #FF6138 40%, #FFC400 90%, #FFC400 48px);
            }
        }
        .clickable{
            position: absolute;
            left: 0;
            right: 0;
            height: 21rem;
            background-size: 1200px auto, 100% 100%;
            background-position: 0px 0px, 0px 0px;
            background-repeat: no-repeat, repeat;
        }
        .pagination-box{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: .5rem;
            justify-items: center;
            position: absolute;
            bottom: 1.4rem;
            left: 50%;
            transform: translateX(-50%);
            .pagination{
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: #fff;
                opacity: .5;
            }
        }
    }
}

.card__selected{
    margin-left: -2.6rem;
    margin-top: -2.6rem;
    width: 20.2rem;
    height: 26.2rem;
    .clickable{
        background-size: 1616px auto, 100% 100%;
        background-position: 0px -26px, 0px 0px;;
        z-index: 999;
        bottom: 26px;
    }
    .clickable::after{
        content: '';
        position: absolute;
        top: 0;
        right: -.8rem;
        height: 100%;
        width: .8rem;
        background-color: #000;
        filter: blur(4px);
        opacity: .4;
    }
    .pagination-box{
        .pagination__selected{
            opacity: 1;
        }
    }
}