.form{
    width: 100%;
    &__search-box{
        display: flex;
        height: 100%;
        width: 100%;
        &__select-box{
            height: 100%;
            &__select{
                height: 100%;
                font-size: 1.4rem;
                padding-left: 1rem;
                border: 0;
                border-radius: 0;
                outline: 0;
                -webkit-appearance: none; 
                -moz-appearance: none;    
                appearance: none;
            }
            &__select::-ms-expand {
                display: none;            
            }
        }
        &__label{
            height: 100%;
            flex: 1;
        }
        &__search{
            height: 100%;
            width: 100%;
            outline: 0;
            border: 0;
        }
    }
}
