@import "./reset.scss";

//Typography
$font: "Helevtica", "Helvetica Neue", "Sans-serif";

// Color
$white: #fff;
$lighter-gray: #e0e0e0;
$light-gray: #9e9e9e;
$gray: #888;
$blue: #4285f4;

// Size
$searchbar-posY: -30%;
$searchbar-width: 30%;
$searchbar-height: 3rem;
$searchbar-border-radius: calc(#{$searchbar-height} * 0.85);
$searchbar-padding: 1rem;
$searchbar-min-width: 500px;
$searchbar-input-min-width: calc(#{$searchbar-min-width} / 3);
$searchbar-margin-left: 1.5rem;
$searchbar-margin-right: 1rem;
$searchbar-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.24);
$searchbar-font-size: 1.5rem;
$searchbar-font-line-height: calc(#{$searchbar-font-size} * 1.6);
$searchbar-icon-size: 36;
$searchbar-li-height: calc(#{$searchbar-font-size} * 2);
$searchbar-visual-offset: 6px;

html {
  font-family: $font;
  body {
    div.wrap {
      display: flex;
      height: 100%;
      transform: translateY($searchbar-posY);
      justify-content: center;
      align-items: center;
      div.search {
        display: flex;
        position: relative;
        width: $searchbar-width;
        min-width: $searchbar-min-width;
        height: $searchbar-height;
        background-color: $white;
        border: 1px solid $lighter-gray;
        border-radius: $searchbar-border-radius;
        padding: $searchbar-padding;
        &:hover {
          border: none;
          box-shadow: $searchbar-box-shadow;
        }
        &.active {
          border: none;
          box-shadow: $searchbar-box-shadow;
          border-radius: $searchbar-border-radius $searchbar-border-radius 0 0;
        }
        input,
        button {
          height: 100%;
        }
        input.search-input {
          width: 0px;
          margin: {
            left: $searchbar-margin-left;
            right: $searchbar-margin-right;
          }
          flex: 1 $searchbar-min-width;
          font: {
            size: $searchbar-font-size;
            weight: bold;
          }
          &::placeholder {
            color: $light-gray;
          }
        }
        button.search-btn {
          cursor: pointer;
          flex: 0 $searchbar-height;
          margin-right: $searchbar-margin-right;
          .material-icons.md-#{$searchbar-icon-size} {
            font-size: #{$searchbar-icon-size}px;
            color: $gray;
            transition: color 0.3s ease;
          }
          &:hover {
            .material-icons.md-#{$searchbar-icon-size} {
              color: $blue;
            }
          }
        }
        div.list {
          visibility: hidden;
          &.active {
            visibility: visible;
          }
        }
        div.search-list {
          background-color: $white;
          position: absolute;
          top: calc(#{$searchbar-height} + (2 * #{$searchbar-padding}));
          left: 0;
          width: 100%;
          box-shadow: $searchbar-box-shadow;
          border-radius: 0 0 $searchbar-border-radius $searchbar-border-radius;
          ul {
            li {
              background-color: $white;
              font-size: $searchbar-font-size;
              line-height: $searchbar-font-line-height;
              padding: {
                top: $searchbar-visual-offset;
                right: calc(#{$searchbar-padding} + #{$searchbar-margin-right});
                left: calc(#{$searchbar-padding} + #{$searchbar-margin-left});
              }
              &.active {
                background-color: $lighter-gray;
              }
              &:first-child {
                margin-top: calc(#{$searchbar-visual-offset} / 2);
              }
              &:last-child {
                border-radius: 0 0 $searchbar-border-radius $searchbar-border-radius;
                padding-bottom: calc(#{$searchbar-visual-offset} * 1.5);
              }
              span {
                display: block;
                height: $searchbar-li-height;
                padding-left: 1px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
        div.line {
          position: absolute;
          z-index: 100;
          top: calc(#{$searchbar-height} + (2 * #{$searchbar-padding}) - calc(#{$searchbar-visual-offset} / 2));
          left: 0;
          width: 100%;
          height: $searchbar-visual-offset;
          background-color: $white;
          &::before {
            content: "";
            width: calc(100% - (#{$searchbar-margin-left} + #{$searchbar-padding * 2} + #{$searchbar-margin-right}));
            margin-left: calc(#{$searchbar-margin-left} + #{$searchbar-padding});
            display: block;
            border: 0.5px solid $lighter-gray;
          }
        }
      }
    }
  }
}
