@import "./reset.scss";

// Color
$white: #fff;
$light-gray: #e0e0e0;
$gray: #888;

// Size
$searchbar-posY: -30%;
$searchbar-width: 30%;
$searchbar-height: 3rem;
$searchbar-padding: 1rem;
$searchbar-min-width: 300px;
$searchbar-input-min-width: calc(#{$searchbar-min-width} / 3);
$searchbar-margin-left: 1.5rem;
$searchbar-margin-right: 1rem;
$searchbar-font-size: 1.5rem;
$searchbar-font-line-height: calc(#{$searchbar-font-size} * 1.33333333);
$searchbar-icon-size: 36;
$searchbar-li-height: 2rem;

html {
  body {
    div.wrap {
      display: flex;
      height: 100%;
      transform: translateY($searchbar-posY);
      justify-content: center;
      align-items: center;
      div.search {
        display: flex;
        position: relative;
        width: $searchbar-width;
        min-width: $searchbar-min-width;
        height: $searchbar-height;
        background-color: $white;
        border-radius: $searchbar-height;
        border: 1px solid $light-gray;
        padding: $searchbar-padding;
        transition: border-radius 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        &:hover {
          border: none;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.24);
          // border-radius: $searchbar-height $searchbar-height 0 0;
        }
        input,
        button {
          height: 100%;
        }
        input.search-input {
          width: 0px;
          margin: {
            left: $searchbar-margin-left;
            right: $searchbar-margin-right;
          }
          flex: 1 $searchbar-min-width;
          font: {
            size: $searchbar-font-size;
            weight: bold;
          }
        }
        button.search-btn {
          flex: 0 $searchbar-height;
          margin-right: $searchbar-margin-right;
          .material-icons.md-#{$searchbar-icon-size} {
            font-size: #{$searchbar-icon-size}px;
            color: $gray;
          }
        }
        div.search-list,
        div.line {
          visibility: hidden;
        }
        div.search-list {
          background-color: $white;
          position: absolute;
          top: calc(#{$searchbar-height} + (2 * #{$searchbar-padding}));
          left: 0;
          width: 100%;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.24);
          border-radius: 0 0 #{$searchbar-height} #{$searchbar-height};
          ul {
            padding: 0 $searchbar-padding $searchbar-padding $searchbar-padding;
            li {
              display: block;
              font-size: $searchbar-font-size;
              line-height: $searchbar-font-line-height;
              margin: $searchbar-margin-right $searchbar-margin-right $searchbar-margin-right $searchbar-margin-left;
              height: $searchbar-li-height;
            }
          }
        }
        div.line {
          position: absolute;
          z-index: 100;
          top: calc(#{$searchbar-height} + (2 * #{$searchbar-padding}) - 5px);
          left: 0;
          width: 100%;
          height: 10px;
          background-color: $white;
          &::before {
            content: "";
            width: calc(100% - (#{$searchbar-margin-left} + #{$searchbar-padding * 2} + #{$searchbar-margin-right}));
            margin-left: calc(#{$searchbar-margin-left} + #{$searchbar-padding});
            display: block;
            border: 0.5px solid $light-gray;
          }
        }
      }
    }
  }
}
