@import 'flex';

$font-size: 16px;

@function calcRem($size) {
  @return #{$size / $font-size}rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.container {
  max-width: calcRem(1024px);
  opacity: 0;
  margin: 0 auto;
  position: relative;
}

.auto-container {
  max-width: calcRem(1024px);
  box-sizing: border-box;
  margin: calcRem(30px) auto calcRem(10px) auto;
  opacity: 1;
  position: relative;

  & input {
    width: calcRem(400px);
    height: calcRem(40px);
    box-sizing: border-box;
    margin: 0;
    padding-left: calcRem(5px);
    border: none;
    border: 1px solid #ced4da;
    border-top-left-radius: calcRem(5px);
    border-bottom-left-radius: calcRem(5px);

    &:focus {
      outline-color: #eb6;
    }
  }

  & button {
    width: calcRem(50px);
    height: calcRem(40px);
    box-sizing: border-box;
    background-color: #eb6;
    border: 0px solid #eb6;
    border-bottom-right-radius: calcRem(5px);
    border-top-right-radius: calcRem(5px);
    line-height: 2.2;
    vertical-align: center;

    & img {
      width: calcRem(20px);
      height: calcRem(20px);
      vertical-align: middle;

      &:focus {
        outline: none;
      }
    }
  }
}

.autocomplete-wrapper {
  width: calcRem(450px);
  box-sizing: border-box;
}

.autocomplete-area {
  position: absolute;
  width: inherit;
  border: 1px solid #ced4da;
  padding: calcRem(5px);
  background-color: #fff;
  z-index: 1000;

  font-weight: bold;

  & li {
    list-style: none;
  }

  & span {
    font-weight: 300;
  }

  & .selected {
    background-color: #e9ecef;
  }
}

.nav {
  height: calcRem(100px);
  padding: calcRem(20px) 0;

  @include flexbox();
  @include justify-content(center);
}

.steelblue {
  background-color: #2392c0;
}
.purple {
  background-color: #a90067;
}
.darkgreen {
  background-color: #018577;
}
.orange {
  background-color: #e65d17;
}

.nav-item {
  width: calcRem(200px);
  height: calcRem(75px);
  margin: 0 calcRem(3px);
  padding: calcRem(20px);
  color: #fff;

  @include flexbox();
  @include justify-content(center);
  @include align-items(center);

  cursor: pointer;
}

.card {
  @include flexbox();
  @include flex(1 0 auto);
  overflow: hidden;
  width: calcRem(700px);
}

.thumb {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex(1 1 auto);
  img {
    padding: calcRem(20px);
    width: calcRem(250px);
    height: calcRem(250px);
    object-fit: contain;
  }
}

.content {
  @include flex(1 1 auto);
  h2 {
    margin-bottom: calcRem(10px);
  }
}
