* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11rem;
  min-width: 45rem;
  padding: 5rem;
  background-color: #232f3e;
}

.search-form {
  display: flex;
  position: relative;
  width: 80rem;
}

.search-select {
  width: 6rem;
  height: 4rem;
  border-radius: 5px 0 0 5px;
}

.search-button {
  height: 4rem;
  width: 6rem;
  background-color: #febd69;
  border-style: none;
  border-radius: 0 5px 5px 0;
}

.search-icon {
  width: 2rem;
}

.search-bar {
  padding: 0.5rem;
  width: 100%;
  min-width: 40rem;
  height: 4rem;
}

.auto-suggestions,
.recent-keywords {
  position: absolute;
  top: 4rem;
  left: 5.1rem;
  width: calc(100% - 10.3rem);
  min-width: 40rem;
  z-index: 1;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 0 0 5px 5px;
}

.auto-suggestions li,
.recent-keywords li {
  padding: 0.5rem;
  font-size: 1.4rem;
}
