html,
body,
input,
button,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  line-height: 0;
  list-style: none; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input,
textarea:focus {
  outline: none; }

html,
body {
  height: 100%; }

html {
  font-family: "Helevtica", "Helvetica Neue", "Sans-serif"; }
  html body div.wrap {
    display: flex;
    height: 100%;
    transform: translateY(-30%);
    justify-content: center;
    align-items: center; }
    html body div.wrap div.search {
      display: flex;
      position: relative;
      width: 30%;
      min-width: 500px;
      height: 3rem;
      background-color: #fff;
      border: 1px solid #e0e0e0;
      border-radius: calc(3rem * 0.85);
      padding: 1rem; }
      html body div.wrap div.search:hover, html body div.wrap div.search.focus {
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.24); }
      html body div.wrap div.search.active {
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.24);
        border-radius: calc(3rem * 0.85) calc(3rem * 0.85) 0 0; }
      html body div.wrap div.search input,
      html body div.wrap div.search button {
        height: 100%; }
      html body div.wrap div.search input.search-input {
        width: 0px;
        margin-left: 1.5rem;
        margin-right: 1rem;
        flex: 1 500px;
        font-size: 1.5rem;
        font-weight: bold; }
        html body div.wrap div.search input.search-input::placeholder {
          color: #9e9e9e; }
      html body div.wrap div.search button.search-btn {
        cursor: pointer;
        flex: 0 3rem;
        margin-right: 1rem; }
        html body div.wrap div.search button.search-btn .material-icons.md-36 {
          font-size: 36px;
          color: #888;
          transition: color 0.3s ease; }
        html body div.wrap div.search button.search-btn:hover .material-icons.md-36 {
          color: #4285f4; }
      html body div.wrap div.search div.list {
        display: none; }
        html body div.wrap div.search div.list.active {
          display: block; }
      html body div.wrap div.search div.search-list {
        background-color: #fff;
        position: absolute;
        top: calc(3rem + (2 * 1rem));
        left: 0;
        width: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.24);
        border-radius: 0 0 calc(3rem * 0.85) calc(3rem * 0.85); }
        html body div.wrap div.search div.search-list ul li {
          background-color: #fff;
          font-size: 1.5rem;
          line-height: calc(1.5rem * 1.6);
          padding-top: 6px;
          padding-right: calc(1rem + 1rem);
          padding-left: calc(1rem + 1.5rem); }
          html body div.wrap div.search div.search-list ul li.active {
            background-color: #eee; }
          html body div.wrap div.search div.search-list ul li:first-child {
            margin-top: calc(6px / 2); }
          html body div.wrap div.search div.search-list ul li:last-child {
            border-radius: 0 0 calc(3rem * 0.85) calc(3rem * 0.85);
            padding-bottom: calc(6px * 1.5); }
          html body div.wrap div.search div.search-list ul li span {
            display: block;
            height: calc(1.5rem * 2);
            padding-left: 1px;
            overflow: hidden;
            text-overflow: ellipsis; }
      html body div.wrap div.search div.line {
        position: absolute;
        z-index: 100;
        top: calc(3rem + (2 * 1rem) - calc(6px / 2));
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #fff; }
        html body div.wrap div.search div.line::before {
          content: "";
          width: calc(100% - (1.5rem + 2rem + 1rem));
          margin-left: calc(1.5rem + 1rem);
          display: block;
          border: 0.5px solid #e0e0e0; }
