html,
body,
input,
button,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  line-height: 0;
  list-style: none; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input,
textarea:focus {
  outline: none; }

html,
body {
  height: 100%;
  font-family: "Helevtica"; }

html body div.wrap {
  display: flex;
  height: 100%;
  transform: translateY(-30%);
  justify-content: center;
  align-items: center; }
  html body div.wrap div.search {
    display: flex;
    position: relative;
    width: 30%;
    min-width: 300px;
    height: 3rem;
    background-color: #fff;
    border-radius: 3rem;
    border: 1px solid #e0e0e0;
    padding: 1rem;
    transition: border-radius 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    html body div.wrap div.search:hover {
      border: none;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.24); }
    html body div.wrap div.search input,
    html body div.wrap div.search button {
      height: 100%; }
    html body div.wrap div.search input.search-input {
      width: 0px;
      margin-left: 1.5rem;
      margin-right: 1rem;
      flex: 1 300px;
      font-size: 1.5rem;
      font-weight: bold; }
    html body div.wrap div.search button.search-btn {
      flex: 0 3rem;
      margin-right: 1rem; }
      html body div.wrap div.search button.search-btn .material-icons.md-36 {
        font-size: 36px;
        color: #888; }
    html body div.wrap div.search div.search-list,
    html body div.wrap div.search div.line {
      visibility: hidden; }
    html body div.wrap div.search div.search-list {
      background-color: #fff;
      position: absolute;
      top: calc(3rem + (2 * 1rem));
      left: 0;
      width: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.24);
      border-radius: 0 0 3rem 3rem; }
      html body div.wrap div.search div.search-list ul {
        padding: 0 1rem 1rem 1rem; }
        html body div.wrap div.search div.search-list ul li {
          display: block;
          font-size: 1.5rem;
          line-height: calc(1.5rem * 1.33333333);
          margin: 1rem 1rem 1rem 1.5rem;
          height: 2rem; }
    html body div.wrap div.search div.line {
      position: absolute;
      z-index: 100;
      top: calc(3rem + (2 * 1rem) - 5px);
      left: 0;
      width: 100%;
      height: 10px;
      background-color: #fff; }
      html body div.wrap div.search div.line::before {
        content: "";
        width: calc(100% - (1.5rem + 2rem + 1rem));
        margin-left: calc(1.5rem + 1rem);
        display: block;
        border: 0.5px solid #e0e0e0; }
