.nav__big-text{
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
}
.nav__small-text{
    color: #ccc;
    font-size: 1.3rem;
}
.nav__cart-counter{
    color: #f08804;
    font-size: 1.6rem;
}

*{
    font-family: arial,sans-serif;
}