.prime-about{
    height: 47.6rem;
    padding: 3.2rem 0 4.8rem 7rem;
    background-color: $color-secondary;
    background: radial-gradient(bottom right,#00A8E1,#0079b4);
    background: -ms-radial-gradient(bottom right,#00A8E1,#0079b4);
    background: -moz-radial-gradient(bottom right,#00A8E1,#0079b4);
    background: -o-radial-gradient(bottom right,#00A8E1,#0079b4);
    background: -webkit-radial-gradient(bottom right,#00A8E1,#0079b4);
    background: url(../../images/Prime_about.png);
    background-size: auto 47.6rem;
    background-position: left top;
    background-repeat: no-repeat;
    
    color: $color-text-white;
    &__logo{
        width: 8rem;
    }
    &__heading-1{
        font-size: 4.2rem;
        font-weight: bold;
        margin-bottom: 2.5rem;
    }
    &__paragraph{
        font-size: 2.2rem;
        line-height: 2.5rem;
        font-weight: 300;
    }
    &__form{
        &__submit-box{
            margin: auto;
            height: 5.2rem;
            width: 36rem;
            &__submit{
                background-color: $color-prime-submit-button;
                border: 1px solid $color-prime-submit-border;
                font-size: 2rem;
                font-weight: bold;
                color: $color-prime-submit-text;
                border-radius: .2rem;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    }
    &--info{
        margin: 1rem 0 2rem;
        font-size: 1.4rem;
    }
    &__text-box{
        &__text{
            font-size: 1.4rem;
        }
    }
    &--more{
        display: inline-flex;
        align-items: center;
        margin-top: .2rem;
        &__text{
            font-size: 1.4rem;
            text-decoration: underline;
        }
        &__icon{
            background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Sprites_2x._CB493761273_.png);
            -moz-background-size: 158px auto;
            background-size: 158px auto;
            width: 6px;
            height: 9px;
            display: inline-block;
            vertical-align: middle;
            background-position: 0 -233px;
            margin: 0 6px;
        }
    }
}

.prime-detail{
    padding: 2rem 0;
    text-align: center;
    &__heading-text{
        margin-bottom: 2rem;
        font-size: 2.2rem;
        font-weight: 300;
    }
    &__container{
        text-align: center;
    }
}