<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/456e6d8b1b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>아마존</title>
  </head>

  <body>
    <div class="search-box">
      <!-- addSearchBox -->
    </div>

    <div class="wrap">
      <div class="slide-container">
        <ul class="slide-navigation clearfix">
          <!-- addNavTitle -->
        </ul>
        <ul class="slider clearfix">
          <!-- addSlideImg, addSlideHeader -->
        </ul>
      </div>
      <div class="slide-btn">
        <button type="button" class="prev-btn"></button>
        <button type="button" class="next-btn"></button>
      </div>
    </div>

    <script type="module" src="../js/carousel/main.js"></script>
    <script type="module" src="../js/search/controller.js"></script>
  </body>
</html>
