.card-navigation-section {
  width: 930px;
  height: 360px;
  padding: 10px 30px;
}

.card-navigation-list-wrapper {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-navigation-list-item {
  color: white;
  font-size: 15px;
  width: 140px;
  height: 55px;
}

#active {
  transform: scale(1.2);
  transition: transform 0.5s;
}

#inActive {
  transform: scale(1);
  transition: transform 0.5s;
}

.itemA {
  margin-right: 20px;
  background-color: #db678a;
}

#carousel-first-item {
  transition: all 0.5s;
}

.itemB {
  margin-right: 20px;
  background-color: #6f8038;
}

.itemC {
  margin-right: 20px;
  background-color: #4f57ff;
}

.itemD {
  background-color: #807b7b;
}

.card-navigation-details-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 250px;
  align-items: center;
}

.button {
  position: absolute;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: #2c2f34;
  border-radius: 50%;
  top: 40%;
}

.left-button {
  left: 10%;
}

.carousel-wrapper {
  display: flex;
  flex-direction: row;
  width: 630px;
  overflow: hidden;
}

.right-button {
  right: 10%;
}

.card-navigation-details-wrapper {
  display: flex;
  flex-direction: row;
}
.card-navigation-details-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card-navigation-details-desc-wrapper {
  margin-left: 20px;
}

.card-navigation-details-desc-title {
  font-size: 25px;
  margin-bottom: 15px;

}

.card-navigation-details-desc-text {
  position: relative;
  padding-left: 10px;
  width: 400px;
  margin-bottom: 5px;
}

.card-navigation-details-desc-text::before {
  position: absolute;
  top: 10px;
  left: 2px;
  content:'';
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 50%;
}