

@import url("reset.css");


.carousel {
    position: relative;
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    padding-top: 30px;
}

.carousel__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    height: 80px;
}

.carousel__header--item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: white;
    margin: 0 2px;
    cursor: pointer;
}

.active {
    transform: scale(1.1);
}

.carousel__header--item p {
    font-size: 0.8em;
    padding: 0 7px;
    text-align: center;
}

.carousel__header--item:nth-of-type(1) {
    background-color: #2392C0;
}
.carousel__header--item:nth-of-type(2) {
    background-color: #A71C67;
}
.carousel__header--item:nth-of-type(3) {
    background-color: #008577;
}
.carousel__header--item:nth-of-type(4) {
    background-color: #DF6F35;
}

.carousel__main {
    /* overflow: hidden; */
    margin: 0 auto;
    overflow: hidden;
    opacity: 0;
}

.carousel__container {
    display: flex;
}

.carousel__item {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.carousel__item--image img {
    width: 200px;
    height: 200px;
}

.carousel__item--contents {
    padding-top: 20px;
    width: 400px;
}

.carousel__item--contents-wrapper {
    padding-left: 40px;
}

.carousel__item--contents-wrapper h3 {
    font-weight: 700;
    font-size: 1.6em;
}

.carousel__item--contents-wrapper p {
    font-size: 1.1em;
    margin-top: 15px;
    line-height: 1.4em;   
}

.arrow {
    box-sizing: border-box;
    background-repeat: no-repeat;
    width:40px;
    height:40px;
    background-image: url('/src/images/down-arrow_50x30.svg');
    background-size: 3em;
    border-radius: 30px;
    top: 60%;
}

.next {
    position: absolute;
    right: 5%;
    transform:rotate(270deg);
    background-position: center;
}

.prev {
    position: absolute;
    left: 5%;
    transform:rotate(90deg);
    background-position: center;
}