$font-size: 16px;

@function calcRem($size) {
  @return #{$size / $font-size}rem;
}

.auto-container {
  max-width: calcRem(1024px);
  box-sizing: border-box;
  margin: calcRem(30px) auto calcRem(10px) auto;
  opacity: 1;
  position: relative;
}

.auto-wrapper {
  width: calcRem(450px);
  box-sizing: border-box;

  & input {
    width: calcRem(400px);
    height: calcRem(40px);
    box-sizing: border-box;
    margin: 0;
    padding-left: calcRem(5px);
    border: none;
    border: 1px solid #ced4da;
    border-top-left-radius: calcRem(5px);
    border-bottom-left-radius: calcRem(5px);

    &:focus {
      outline-color: #eb6;
    }
  }

  & button {
    width: calcRem(50px);
    height: calcRem(40px);
    box-sizing: border-box;
    background-color: #eb6;
    border: 0px solid #eb6;
    border-bottom-right-radius: calcRem(5px);
    border-top-right-radius: calcRem(5px);
    line-height: 2.2;
    vertical-align: center;

    &:focus {
      outline-color: rgb(252, 189, 80);
    }

    & img {
      width: calcRem(20px);
      height: calcRem(20px);
      vertical-align: middle;
    }
  }
}

.auto-area {
  position: absolute;
  width: inherit;
  border: 1px solid #ced4da;
  padding: calcRem(5px);
  background-color: #fff;
  z-index: 1000;
  display: none;

  font-weight: bold;

  & li {
    list-style: none;
  }

  & span {
    font-weight: 300;
  }

  & .selected {
    background-color: #e9ecef;
  }
}
