/* header-top MID */

#header-top-mid {
  position: relative;
  float: left;
  width: 1068px;
  height: 39px;
}

#header-searching-tag {
  position: relative;
  height: 35px;
  width: 1068px;
  /* padding: 11px 25px 0 0; */
}

#nav-searchbar {
  float: left;
  display: block;
  position: relative;
  width: 1068px;
  height: 35px;
}

#header-searching-title {
  position: relative;
  float: left;
  width: 46px;
  height: 35px;
}

#header-searching-title>select {
  width: 46px;
  height: 35px;
}

#searching-tab {
  position: relative;
  float: left;
  border-top: 1px solid transparent;
  width: 961.656px;
  height: 34px;
}

#searching-tab>input {
  border: 0;
  width: 961.656px;
  height: 33px;
  /* padding: 6px 10px 6px 0; */
}

#submit-tab {
  border: none;
  background-color: #febd69;
  position: relative;
  float: left;
  width: 45px;
  height: 35px;
}

.search-autocomplete {
  display: none;
  position: relative;
  z-index: 1;
  background: white;
}

.search-autocomplete-show {
  display: block;
  border: 1px solid;
}

.autocomplete-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggestion {
  padding: 8px 1.3rem;
  font-size: 16px;
  font-family: "Amazon Ember";
  cursor: pointer;
}

.suggestion:hover {
  background: #eee;
}

#searchBar {
  left: 12px;
  top: 7px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-V3-2x_optimized._CB474516457_.png);
  background-size: 350px;
  background-position: -10px -290px;
  width: 21px;
  height: 21px;
  position: absolute;
}

#submit-tab input {
  text-indent: -1000px;
  border: none;
  color: #fff;
  background: 0 0;
  padding: 0;
  display: block;
  width: 45px;
  height: 35px;
}